@use 'variables' as *;

body {
    // background-color: lime;
}

#experiences.--alteo {

    /* Hero Section */

    .c-hero.-style.--01 {
        height: 710px;

        font-family: 'Montserrat', sans-serif;

        .ct-content.-img {
            background-image: url("../assets/backdrop-image-006-HR-2880px.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .-block.--01 {
            gap: 10px;

            h4 {
                font-size: 1.4em;
                color: $silver;  
            }

            h1 {
                font-size: 3em;
                color: $gold; 
            }
        }

        .-window {
            height: 45%;
        }

        .-block.--02 {
            gap: 20px;

            h2 {
                color: $gold; 
            }
        }
    }

    /* Footer */

    .c-footer.-style.--01 {
        background-color: $silver;
        font-family: 'Montserrat', sans-serif;

        .ct-content.-data {
            background-color: initial;

            .-block.--01, .-block.--02, .-block.--03{
                
                span {
                    color: $black;
                }
            }

            .-block.--01 {
                .nav.-item {
                    flex-basis: 0;
                    flex-grow: 1;
                    font-size: 1em;
                    &:hover span {
                        color: $gold;
                        font-weight: 500;
                    }
                }
            }

            .-block.--02 {

                .-item {
                    background-color: initial;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                
                .-item.--01 {
                    background-image: url("../assets/social-facebook-square-brands.svg");
                }

                .-item.--02 {
                    background-image: url("../assets/social-instagram-brands.svg");
                }

                .-item.--03 {
                    background-image: url("../assets/social-youtube-brands.svg");
                }

                .-item.--04 {
                    background-image: url("../assets/social-whatsapp-brands.svg");
                }
            }
        }
    }

    .c-article.-style.--01 {
        font-family: 'Montserrat', sans-serif;

        .-block.--01 {
            max-width: 800px;  
            gap: 10px;

            h4 {
                font-size: 1.4em;
                color: $silver;  
            }

            h1 {
                font-size: 3em;
                color: $black;
            }

            h2 {
                color: $gold;
            }
        }

        .-block.--02 {
            max-width: 800px;  
            gap: 10px;

            p {
                font-family: 'Rokkitt', Courier, monospace;
                font-size: 1.5em;
                color: $black;
            }
        }
    }
}