@use 'variables' as *;

body {
    // background-color: lime;
    min-width: 374px;
}

.--alteo {

    hr {
        width: 100%;
        border: 1px solid $gold;
    }

    /* Footer */

    .c-footer.-style.--01 {
        background-color: $silver;
        font-family: 'Montserrat', sans-serif;

        .ct-content.-data {
            background-color: initial;

            .-block.--01, .-block.--02, .-block.--03{
                
                span {
                    color: $black;
                }
            }

            .-block.--01 {
                gap: 10px;

                .nav.-item {
                    flex-basis: 0;
                    flex-grow: 1;
                    font-size: 1em;

                    &:hover span {
                        color: $gold;
                        font-weight: 500;
                    }
                }
            }

            .-block.--02 {

                .-item {
                    background-color: initial;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                
                .-item.--01 {
                    background-image: url("../assets/social-facebook-square-brands.svg");
                }

                .-item.--02 {
                    background-image: url("../assets/social-instagram-brands.svg");
                }

                .-item.--03 {
                    background-image: url("../assets/social-youtube-brands.svg");
                }

                .-item.--04 {
                    background-image: url("../assets/social-whatsapp-brands.svg");
                }
            }
        }
    }
}


/* EXPERIENCES - START */

#experiences.--alteo {

    /* EXPERIENCES: Hero */

    .c-hero.-style.--01 {
        height: 710px;
    
        font-family: 'Montserrat', sans-serif;
    
        .ct-content.-img {
            background-image: url("../assets/backdrop-image-012-SQ-BIG.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    
        .-block.--01 {
            gap: 10px;
    
            h4 {
                font-size: 1.4em;
                color: $silver;  
            }
    
            h1 {
                font-size: 3em;
                color: $gold; 
            }
        }
    
        .-window {
            height: 45%;
            border: none;
        }
    
        .-block.--02 {
            gap: 20px;
    
            h2 {
                color: $gold; 
            }
        }
    }

    /* EXPERIENCES Article */

    .c-article.-style.--01 {
        font-family: 'Montserrat', sans-serif;
        .-block.--01 {
            max-width: 800px;  
            gap: 10px;
            h4 {
                font-size: 1.4em;
                color: $silver;  
            }
            h1 {
                font-size: 3em;
                color: $black;
            }
            h2 {
                color: $gold;
            }
        }
        .-block.--02, .-block.--04 {
            max-width: 800px;  
            gap: 10px;
            p {
                font-family: 'Rokkitt', Courier, monospace;
                font-size: 1.5em;
                color: $black;
            }
            h2 {
                text-transform: uppercase;
                color: $gold;
                text-align: center;
            }
        }
        .-block.--03 {
            width: 100%;
            max-width: 800px;  
            gap: 15px;
            .c-image-card.-style.--01 {
                min-width: 198px;
                font-family: 'Montserrat', sans-serif;

                .ct-content.-img.--01 {
                    background-image: url(../assets/rsp-experiences-image-001-800x160px.jpg);
                    background-position: left;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .ct-content.-img.--02 {
                    background-image: url(../assets/rsp-experiences-image-002-800x160px.jpg);
                    background-position: left;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .ct-content.-img.--03 {
                    background-image: url(../assets/rsp-experiences-image-003-800x160px.jpg);
                    background-position: left;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

            .-block.--01.-text {
                gap: 0.5em;
                h1 {
                    color: white;
                    font-size: 1.2em;
                    font-weight: 700;
                    text-transform: capitalize;
                }
            
                h2 {
                    color: white;
                    font-size: 1.2em;
                    opacity: 0.75;
                }
            }
        }

        .-block.--02.-services {
            align-items: flex-start;
            h4 {
                color: $gold;
                text-align: left;
            }
            // text-align: left;
        }
        .-block.--04.-cta {
            h2 {
                color: $black;
            }

            p {
                text-transform: uppercase;
                text-align: center;
            }


            a.button.-style.--01 {
                margin-top: 0.5em;
                width: 100%;
            }
        }
    }
}       

/* DESTINATIONS - START */

#destination.--alteo {

    /* DESTINATIONS: Hero */

    .c-hero.-style.--01 {
        height: 710px;
    
        font-family: 'Montserrat', sans-serif;
    
        .ct-content.-img {
            background-image: none;
            background-image: url("../assets/world-map-point-a25.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    
        .-block.--01 {
            gap: 10px;
    
            h4 {
                font-size: 1.4em;
                color: $silver;  
            }
    
            h1 {
                font-size: 3em;
                color: $gold; 
            }

            h2 {
                color: $black; 
            }

            p {
                font-family: 'Rokkitt', Courier, monospace;
                font-size: 2em;
                color: $black;
            }
        }
    
        .-window {
            height: 0%;
            border: none;
        }
    
        .-block.--02 {
            gap: 20px;
    
            h2 {
                color: $gold; 
            }

            .c-segment-toggle.-style.--01 {

                .ct-content.-bar {
                    max-width: 920px;
                    background: none;
                    border-radius: 5px;
                    // border: 1px solid $silver;
                }
            }
        }
    }

    /* DESTINATIONS: Stripe */

    .c-image-stripe.-style.--01 {
        min-height: 200px;
        border-top: 2px solid $silver;
        border-bottom: 2px solid $silver;

        @media screen and (max-width: 694px) {
            min-height: 255px;
        }

        @media screen and (max-width: 394px) {
            min-height: 275px;
        }

        .ct-content.-img {
            background-image: url("../assets/destination-stripe-007.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .-block.--01 {
            gap: 0.75em;

            h4 { 
                font-size: 1.4em;
                color: $gold;
            }

            h1 {
                font-family: 'Rokkitt', Courier, monospace;
                font-size: 3em;
                color: $black; 
            }

            p {
                font-size: 1.4em;
                color: $gold;
                text-transform: uppercase;
            }
        }
    }

    /* DESTINATIONS: Article */

    .c-article.-style.--01 {
        font-family: 'Montserrat', sans-serif;

        .-block.--01 {
            max-width: 800px;  
            gap: 10px;

            h4 {
                font-size: 1.4em;
                color: $silver;  
            }

            h1 {
                font-size: 3em;
                color: $black;
            }

            h2 {
                color: $gold;
            }
        }

        .-block.--02, .-block.--04 {
            width: 100%;
            max-width: 800px;  
            gap: 10px;

            p {
                font-family: 'Rokkitt', Courier, monospace;
                font-size: 1.5em;
                color: $black;
            }

            h2 {
                text-transform: uppercase;
                color: $gold;
                text-align: center;
            }
        }

        .-block.--03 {
            width: 100%;
            max-width: 800px;  
            gap: 15px;

            .c-image-card.-style.--01 {
                min-width: 198px;
                font-family: 'Montserrat', sans-serif;
            }
            .-block.--01.-text {
                gap: 0.5em;

                h1 {
                    font-size: 1.2em;
                    font-weight: 700;
                    text-transform: capitalize;
                }

                h2 {
                    font-size: 1.2em;
                    opacity: 0.75;
                }
            }

        }

        .-block.--02.-services {
            align-items: flex-start;

            h4 {
                color: $gold;
                text-align: left;
            }
            // text-align: left;
        }

        .-block.--04.-cta {

            h2 {
                text-transform: uppercase;
                color: $black;
            }

            p {
                text-transform: uppercase;
                color: $black;
                text-align: center;
            }

            a.button.-style.--01 {
                margin-top: 0.5em;
                width: 100%;
            }
        }
    }

    /* DESTINATION: Details */

    .-block.--04.-calendar .c-details.-style.--01 {
        gap: 15px;

        details {
            border: none;
            border-radius: 10px;
            background: whitesmoke;

            summary {
                h3 {
                    color: #aaa;
                }
            }

            .ct-details-content {
                padding: 15px 30px 15px 30px;
                gap: 15px;
                background-color: white;
                border-bottom: 2px solid whitesmoke;
            }
    
            p { 
                font-family: "Rokkitt", Courier, monospace;
                min-height: 25px;
                height: 100%;
                font-size: 1.5em;
                font-weight: 500;
                color: #aaa;
            }

            // &:last-child {
            //     border-bottom: 2px solid $gold;
            // }
        }
    }
}

/* ABOUT - START */

#about.--alteo {

    /* ABOUT: Hero */

    .c-hero.-style.--01 {
        height: 710px;
    
        font-family: 'Montserrat', sans-serif;
    
        .ct-content.-img {
            background-image: none;
            // background-image: url("../assets/world-map-point-a25.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    
        .-block.--01 {
            gap: 10px;
    
            h4 {
                font-size: 1.4em;
                color: $silver;  
            }
    
            h1 {
                font-size: 3em;
                color: $gold; 
            }

            h2 {
                color: $black; 
            }

            p {
                font-family: 'Rokkitt', Courier, monospace;
                font-size: 2em;
                color: $black;
            }
        }
    
        .-window {
            height: 0%;
            border: none;
        }
    
        .-block.--02 {
            gap: 20px;
    
            h2 {
                color: $gold; 
            }

            .c-segment-toggle.-style.--01 {

                .ct-content.-bar {
                    max-width: 920px;
                    background: none;
                    border-radius: 5px;
                }
            }
        }
    }

    /* ABOUT: Stripe */

    .c-image-stripe.-style.--01 {
        min-height: 200px;
        border-top: 2px solid $silver;
        border-bottom: 2px solid $silver;

        @media screen and (max-width: 694px) {
            min-height: 255px;
        }

        @media screen and (max-width: 394px) {
            min-height: 275px;
        }

        .ct-content.-img {
            background-image: url("../assets/about-stripe-001.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .-block.--01 {
            gap: 0.75em;

            h4 { 
                font-size: 1.4em;
                color: $gold;
            }

            h1 {
                font-family: 'Rokkitt', Courier, monospace;
                font-size: 3em;
                color: $black; 
            }

            p {
                font-size: 1.4em;
                color: $gold;
                text-transform: uppercase;
            }
        }
    }

    .c-image-stripe.-style.--01.-quote {
        min-height: 200px;
        border-top: 2px solid $gold;
        border-bottom: 2px solid $gold;

        @media screen and (max-width: 694px) {
            min-height: 255px;
        }

        @media screen and (max-width: 394px) {
            min-height: 275px;
        }

        .ct-content.-img {
            background-image: url("../assets/about-stripe-002.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .-block.--01 {
            gap: 0.75em;

            h4 { 
                font-size: 1.4em;
                color: $gold;
            }

            h1 {
                font-family: 'Rokkitt', Courier, monospace;
                font-size: 3em;
                color: $silver; 
            }

            p {
                font-size: 1.4em;
                color: $gold;
                text-transform: uppercase;
            }
        }
    }

    /* ABOUT: Article */

    .c-article.-style.--01 {
        font-family: 'Montserrat', sans-serif;

        .-block.--01 {
            max-width: 800px;  
            gap: 10px;

            h4 {
                font-size: 1.4em;
                color: $silver;  
            }

            h1 {
                font-size: 3em;
                color: $black;
            }

            h2 {
                color: $gold;
            }
        }

        .-block.--02, .-block.--04 {
            width: 100%;
            max-width: 800px;  
            gap: 10px;

            p {
                font-family: 'Rokkitt', Courier, monospace;
                font-size: 1.5em;
                color: $black;
            }

            h2 {
                text-transform: uppercase;
                color: $gold;
                text-align: center;
            }
        }

        .-block.--03 {
            width: 100%;
            max-width: 800px;  
            gap: 15px;

            .c-image-card.-style.--01 {
                min-width: 198px;
                font-family: 'Montserrat', sans-serif;

                .ct-content.-img.--01 {
                    background-image: url(../assets/rsp-about-image-001-800x160px.jpg);
                    background-position: right;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            .-block.--01.-text {
                right: initial;
                left: 20px;
                text-align: left;
                gap: 0.5em;

                h1 {
                    font-size: 1.2em;
                    font-weight: 700;
                    text-transform: capitalize;
                }

                h2 {
                    font-size: 1.2em;
                    opacity: 0.75;
                }
            }

        }

        .-block.--02.-services {
            align-items: flex-start;

            h4 {
                color: $gold;
                text-align: left;
            }
            // text-align: left;
        }

        .-block.--04.-cta {

            h2 {
                text-transform: uppercase;
                color: $black;
            }

            p {
                text-transform: uppercase;
                color: $black;
                text-align: center;
            }

            a.button.-style.--01 {
                margin-top: 0.5em;
                width: 100%;
            }
        }
    }

    /* ABOUT: Details */

    .-block.--04.-calendar .c-details.-style.--01 {
        gap: 15px;

        details {
            border: none;
            border-radius: 10px;
            background: whitesmoke;

            summary {
                h3 {
                    color: #aaa;
                }
            }

            .ct-details-content {
                padding: 15px 30px 15px 30px;
                gap: 15px;
                background-color: white;
                border-bottom: 2px solid whitesmoke;
            }
    
            p { 
                font-family: "Rokkitt", Courier, monospace;
                min-height: 25px;
                height: 100%;
                font-size: 1.5em;
                font-weight: 500;
                color: #aaa;
            }

            // &:last-child {
            //     border-bottom: 2px solid $gold;
            // }
        }
    }
}

/* CONTACT START */

#contact.--alteo {

    /* CONTACT: Hero */

    .c-hero.-style.--01 {
        height: 710px;

        font-family: 'Montserrat', sans-serif;

        .ct-content.-img {
            background-image: none;
            // background-image: url("../assets/world-map-point-a25.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .-block.--01 {
            gap: 10px;

            h4 {
                font-size: 1.4em;
                color: $silver;  
            }

            h1 {
                font-size: 3em;
                color: $gold; 
            }

            h2 {
                color: $black; 
            }

            p {
                font-family: 'Rokkitt', Courier, monospace;
                font-size: 2em;
                color: $black;
            }
        }

        .-window {
            height: 0%;
            border: none;
        }

        .-block.--02 {
            gap: 20px;

            h2 {
                color: $gold; 
            }

            .c-segment-toggle.-style.--01 {

                .ct-content.-bar {
                    max-width: 920px;
                    background: none;
                    border-radius: 5px;
                    // border: 1px solid $silver;
                }
            }
        }
    }
    
    /* CONTACT: Article */

    .c-article.-style.--01 {
        font-family: 'Montserrat', sans-serif;
        border-top: 2px solid $silver;

        .-block.--01.-headings {
            max-width: 800px;  
            gap: 10px;
            h4 {
                font-size: 1.4em;
                color: $silver;  
            }
            h1 {
                font-size: 3em;
                color: $black;
            }
            h2 {
                color: $gold;
            }
        }

        .-block.--01.-form {
            max-width: 800px;  
            gap: 10px;
            flex-direction: row;
            flex-wrap: wrap;

            div {
                flex-basis: 100%;
                min-width: 365px;
                min-height: 50px;
                border-radius: 10px;
                border: 1px solid $silver;
                line-height: 50px;
                color: $silver;

                &.xxx-button {
                    background-color: whitesmoke;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 1.4em;
                }
            }
        }

        .-block.--02, .-block.--04 {
            width: 100%;
            max-width: 800px;  
            gap: 10px;

            p {
                font-family: 'Rokkitt', Courier, monospace;
                font-size: 1.5em;
                color: $black;
            }

            h2 {
                text-transform: uppercase;
                color: $gold;
                text-align: center;
            }
        }

        .-block.--02.-services {
            align-items: flex-start;

            h4 {
                color: $gold;
                text-align: left;
            }
        }

        .-block.--04.-cta {

            h2 {
                text-transform: uppercase;
                color: $black;
            }

            p {
                text-transform: uppercase;
                color: $black;
                text-align: center;
            }

            a.button.-style.--01 {
                margin-top: 0.5em;
                width: 100%;
            }
        }
    }
}

/* HOME START */

#home.--alteo, #index.--alteo {

    /* CONTACT: Hero */

    .c-hero.-style.--01 {
        height: 710px;

        font-family: 'Montserrat', sans-serif;

        .ct-content.-img {
            background-image: none;
            background-image: url("../assets/backdrop-image-006-HR-2880px.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .-block.--01 {
            gap: 10px;

            h4 {
                font-size: 1.4em;
                color: $silver;  
            }

            h1 {
                font-size: 3em;
                color: $gold; 
            }

            h2 {
                color: $black; 
            }

            p {
                font-family: 'Rokkitt', Courier, monospace;
                font-size: 2em;
                color: $black;
            }
        }

        .-window {
            height: 50%;
            border: none;
        }

        .-block.--02 {
            gap: 20px;

            h2 {
                color: $gold; 
            }

            .c-segment-toggle.-style.--01 {

                .ct-content.-bar {
                    max-width: 920px;
                    background: none;
                    border-radius: 5px;
                    // border: 1px solid $silver;
                }
            }
        }
    }
    
    /* CONTACT: Article */

    .c-article.-style.--01 {
        font-family: 'Montserrat', sans-serif;
        // border-top: 2px solid $silver;

        .-block.--01.-headings {
            max-width: 800px;  
            gap: 10px;
            h4 {
                font-size: 1.4em;
                color: $silver;  
            }
            h1 {
                font-size: 3em;
                color: $black;
            }
            h2 {
                color: $gold;
            }
        }

        .-block.--01.-form {
            max-width: 800px;  
            gap: 10px;
            flex-direction: row;
            flex-wrap: wrap;

            div {
                flex-basis: 100%;
                min-width: 365px;
                min-height: 50px;
                border-radius: 10px;
                border: 1px solid $silver;
                line-height: 50px;
                color: $silver;

                &.xxx-button {
                    background-color: whitesmoke;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 1.4em;
                }
            }
        }

        .-block.--02, .-block.--04 {
            width: 100%;
            max-width: 800px;  
            gap: 10px;

            p {
                font-family: 'Rokkitt', Courier, monospace;
                font-size: 1.5em;
                color: $black;
            }

            h2 {
                text-transform: uppercase;
                color: $gold;
                text-align: center;
            }
        }

        .-block.--02.-services {
            align-items: flex-start;

            h4 {
                color: $gold;
                text-align: left;
            }
            // text-align: left;
        }

        .-block.--04.-cta {

            h2 {
                text-transform: uppercase;
                color: $black;
            }

            p {
                text-transform: uppercase;
                color: $black;
                text-align: center;
            }

            a.button.-style.--01 {
                margin-top: 0.5em;
                width: 100%;
            }
        }
    }
}