.c-article.-style.--01 {
    width: 100%;
    min-width: 256px;
    overflow: hidden;
    font-size: 10px;
    font-family: sans-serif;

    h1, h4 {
        text-transform: uppercase;
    }

    h1 {
        font-size: 2em;
        font-weight: bold;
    }

    h2 {
        font-size: 1.5em;
        font-weight: bold;
    }

    h4 {
        color: #aaa;
        font-size: 1.2em;
        font-weight: bold;
    }

    p {
        font-size: 1.2em;
        line-height: 1.5em;
    }

    .ct-content.-data {
        display: flex;
        width: 100%;
        max-width: 920px;
        flex-direction: column;
        gap: 10px;
        background-color: white;
        margin: auto;
        align-items: center;
        justify-content: center;
        padding: 20px 30px;
        gap: 20px;
    }

    .-block.--01 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .-block.--02 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: justify;
    }
    
    .-block.--03 {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 15px;
    }
    
    .-images {
        .c-image-card.-style.--01 {
            width: 100%;
        
            h1, h2, h3, h4, h5, h6 {
                font-size: 10px;
            } 
            
            .ct-content {
                // position: relative;
                // overflow: hidden;
                // margin: auto;
                // max-width: 920px;
                // min-height: 160px;
                // border-radius: 15px;
                // padding: 20px;        
                // background-color: whitesmoke;
        
                &.-img {
                    background-image: url("../assets/placeholder-image.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
        
                .-block.--01{
                    align-items: initial;

                    color: black;
        
                    h1 {
                        font-size: 1.2em;
                    }
        
                    h2 {
                        font-size: 1.2em;
                        opacity: 0.75;
                    }
                }
        
            }
        }
    }
}