body {
    background: white;
}

.c-details.-style.--01 {
    display: flex;
    width: 100%;
    min-width: 256px;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    font-size: 10px;

    details {
        box-sizing: border-box;
        max-width: 920px;
        width: 100%;
        margin: auto;
        background: linear-gradient(to right, lightgray 15px, whitesmoke 15px);
        border: 1px solid #aaa;
        border-radius: 5px;

        summary {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            min-height: 45px;
            min-width: 100%;
            padding: 15px 30px 15px 30px;
            cursor: pointer;

            h3 {
                font-family: sans-serif;
                font-size: 1.4em;
                font-weight: 600;
                color: #aaa;
                text-transform: uppercase;
            }

            span {
                display: block;
                width: 20px;
                height: 20px;
                background-image: url("../assets/angle-circle-left.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 20px;
                transform-origin: center;
                transform: rotate(0deg);
                transition: 200ms linear;
            }
        }

        .ct-details-content {
            display: flex;
            flex-direction: column;
            padding: 15px 30px 15px 30px;
            gap: 15px;
            overflow: hidden;
            height: 100%;
        }

        p { 
            font-family: "Montserrat", sans-serif;
            min-height: 25px;
            height: 100%;
            font-size: 1.2em;
            font-weight: 500;
            color: #aaa;
            user-select: none;
        }
    }

    details[open] {
        summary {
            span {
                transform-origin: center;
                transform: rotate(-90deg);
                transition: 200ms linear;
            }
        }

        .ct-details-content {
            animation-name: test-02;
            animation-duration: 0.5s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
        }

        @keyframes test-02 {
            from {
                max-height: 0px;
            }

            to {
                max-height: 500px;
            }                
        }
    }
}

/* ALTEO SPECIFIC */

.c-details.-style.--01.--alteo {
    margin-top: 15px;
}