@use 'reset';
@use 'variables';

body {
  font-family: variables.$fontMain;
  background-color: whitesmoke;
}

.ct-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  // max-width: 1080px;
  overflow: hidden;
  margin: auto;
  background-color: white;
}

a {
  color: variables.$black;
  &:visited {
    color: variables.$black;
  }
  &:hover {
    color: variables.$gold;
  }
  &:active {
    color: variables.$black;
  }
}

/* Header */

header {
  width: 100%;
  min-height: 100px;
  min-width: 320px;
  max-width: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 100;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  .logo {
    width: 60px;
    height: 60px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .access-button,
  .menu-button {
    width: 25px;
    height: 25px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .menu {

    input {
        display: none;
    }
  
    label {
        display: inline-block;
        width: 18px;
        height: 18px;
        text-align: center;
        cursor: pointer;
    }
  
    .-burgerOpen {
        line-height: 8px;
        font-size: 3rem;
        font-family: variables.$fontMain;
        vertical-align: bottom;
        color: variables.$gold;
    }
  
    .-burgerClose {
        display: none;
        line-height: 8px;
        font-size: 2.5rem;
        font-family: variables.$fontMain;
        font-weight: 600;
        color: variables.$gold;
    }
  
    .-items {
        display: none;
        box-sizing: border-box;
        position: absolute;
        min-width: 322px;
        width: 100%;
        min-height: 226px;
        top: 100px;
        left: 0px;
        padding: 16px;
        background-color: rgba(255, 255, 255, 0.95);
        text-align: center;
        border-bottom: solid 2px variables.$gold;
  
        li {
            margin-top: 24px;
            font-size: 1.6rem;
            text-transform: uppercase;
    
            &:first-child {
                margin-top: 0px;
            }

            a.current {
              color: variables.$gold;
            }
        }
  
    }
  
    #menuCheckbox:checked ~ .-items {
        display: block;
    }
  
    #menuCheckbox:checked ~ label .-burgerOpen {
        display: none;
    }
  
    #menuCheckbox:checked ~ label .-burgerClose {
        display: inline-block;
        vertical-align: bottom;
    }
  }  
}

@media screen and (min-width: 800px) {
  header {
    .access-button {
      display: none;
    }
  
    .menu {

      label {
          display: none;
      }

      .-items {
          display: flex; 
          position: relative;
          z-index: 100; 
          min-width: 433px; 
          min-height: 36px; 
          top: 0; 
          left: 0; 
          padding: 0px; 
          background-color: unset; 
          align-items: center; 
          justify-content: space-between;

          li {
              margin-top: 0px; 
              margin-left: 48px; 
          
              a {
                  color: variables.$black; 

                  &:hover {
                      color: variables.$gold;
                      font-weight: 500;
                  }

                  &:active {
                      color: variables.$black;
                      font-weight: 400;
                      opacity: 0.56;
                  }
              }
          }
      }
    }
  }
}

/* Footer */

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 232px;
  height: 100%;
  background-color: variables.$silver;
  margin-top: 0px;

  .sitemap {
    width: 100%;
    min-width: 320px;
    max-width: 920px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .sitemap ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 45px;
    font-size: 12px;
    flex-wrap: wrap;
    gap: 0.8rem;
  }

  .social.ct-icons {
    min-width: 320px;
    max-width: 680px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 32px;
    overflow: hidden;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;

    .icons {
      width: 20px;
      height: 20px;
      opacity: 0.75;

      &.fb {
        background-image: url("../assets/social-facebook-square-brands.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      &.ig {
        background-image: url("../assets/social-instagram-brands.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      &.yt {
        background-image: url("../assets/social-youtube-brands.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      &.wa {
        background-image: url("../assets/social-whatsapp-brands.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      a {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }

  .logo {
    width: 60px;
    height: 60px;
    margin-top: 28px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

footer .sitemap ul a.current {
  color: variables.$gold;
}

/* HOME */

/* Main */

#home main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  h1 {
    text-transform: uppercase;
    font-size: 30px;
  }

  section.hero {
    min-height: 610px;
    background-image:
    url("../assets/ALTEO-backdrop-image-grid-SAFEAREA.png"),
      linear-gradient( 180deg, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.75) 100%),
      url("../assets/backdrop-image-006.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .ct-content {
      display: flex;
      position: relative;
      top: 110px;
      flex-direction: column;
      align-items: center;
      padding: 0px 15px;

      h1 {
        position: absolute;
        text-align: center;
        top: 15px;
        color: variables.$gold;
        text-shadow: 0px 0px 10px #ffffff;
      }

      h2 {
        position: absolute;
        text-align: center;
        top: 370px;
        color: variables.$gold;
        text-shadow: 0px 0px 10px #ffffff;
      }

      button {
        position: absolute;
        min-width: 180px;
        max-width: 680px;
        width: 50%;
        height: 50px;
        top: 420px;
        border-radius: 10px;
        background-color: whitesmoke;
        color: variables.$silver;
        border-color: variables.$silver;
        border: 2px solid;
        text-transform: uppercase;
      }
    }
  }

  section.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px;
    margin-bottom: 24px;

    h1 {
      text-align: center;
      margin-top: 40px;
      color: variables.$black;
    }

    h2 {
      text-align: center;
      margin-top: 12px;
      color: variables.$black;
    }

    .ct-form {
      position: relative;
      display: block;
      width: 100%;
      max-width: 920px;
      min-height: 420px;
      margin-top: 11px;
      overflow: hidden;
      text-align: center;

      label {
        display: none;
      }

      input {
        width: 100%;
        min-height: 50px;
        margin-top: 15px;
        border-radius: 10px;
        color: variables.$silver;
        border-color: variables.$silver;
        border: 2px solid;
        overflow: hidden;
        padding-left: 15px;

        &::placeholder {
          // padding-left: 15px;
          color: #d3d1d3;
        }
      }

      button {
        width: 100%;
        min-height: 50px;
        margin-top: 15px;
        border-radius: 10px;
        background-color: whitesmoke;
        color: variables.$silver;
        border-color: variables.$silver;
        border: 2px solid;
        text-transform: uppercase;
      }
    }
  }
}

/* Footer */