@use 'reset';
@use 'variables';

/* Main */

#members-access main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    top: 50px;
    
    h1 {
      text-transform: uppercase;
      font-size: 30px;
    }
  
    section.contact {
        position: relative;
        top: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 15px;
        margin-bottom: 24px;
        min-height: 713px;
        height: 100%;

        h1 {
            text-align: center;
            margin-top: 18px;
            color: variables.$black;
        }

        h2 {
            text-align: center;
            margin-top: 12px;
            color: variables.$black;
        }

        h4 {
            font-size: 14px;
            margin-top: 0px;
            margin-bottom: 0px;
            color: variables.$silver;
            text-transform: uppercase;
        }
    }

    .ct-form {
        position: relative;
        display: block;
        width: 100%;
        max-width: 920px;
        min-height: 200px;
        margin-top: 11px;
        overflow: hidden;
        text-align: center;

        label {
            display: none;
        }

        input {
            width: 100%;
            min-height: 50px;
            margin-top: 15px;
            border-radius: 10px;
            color: variables.$silver;
            border-color: variables.$silver;
            border: 2px solid;
            overflow: hidden;
            padding-left: 15px;

            &::placeholder {
                // padding-left: 15px;
                color: #d3d1d3;
            }
        }

        button {
            width: 100%;
            min-height: 50px;
            margin-top: 15px;
            border-radius: 10px;
            background-color: whitesmoke;
            color: variables.$silver;
            border-color: variables.$silver;
            border: 2px solid;
            text-transform: uppercase;
        }

        .cs {
            margin-top: 28px;
            margin-bottom: 0px;
            text-transform: uppercase;
            color: variables.$gold;
        }
    }

    .testblock-nav {
        width: 100%;
        min-width: 320px;
        max-width: 920px;
        padding-left: 15px;
        padding-right: 15px;
         
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 45px;
            font-size: 12px;
            flex-wrap: wrap;
            gap: 0.8rem;
        }
    }    
}