$maxMobile: 575.98px;
$minTablet: 576px;
$minDesktop: 1280px;

$fontMain: "Montserrat", sans-serif;
$fontAlt: "Raleway", sans-serif;

$gold: #bb9d58;
$silver: #d3d1d3;
$black: rgb(40, 40, 40);

$hoverTextColor: #29abe2;

// $mainBkColor: #29abe2;
// $altBkColor: #ffffff;
// $gradMainBkColor: linear-gradient(#29abe2, #0075be);
// $gradAltBkColor: linear-gradient(#652d90, #1b1464);
// $gradBtColor: linear-gradient(to left, #1b1464, #652d90);

$monkey: red;

// $gradBkColor:linear-gradient(#29abe2, #0075be);
