<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="styles/c-style.css">
    <title>ALTEO : Footer</title>
</head>
<body>
  <div class="c-footer -style --01 --alteo">
    <div class="ct-content -data">
        <div class="-block --01 -nav">
            <a class="nav -item --02 ---current" href="index.html"><div >HOME</div></a>
            <a class="nav -item --03" href="about.html"><div>ABOUT</div></a>
            <a class="nav -item --04" href="experiences.html"><div>EXPERIENCES</div></a>
            <a class="nav -item --06" href="destination.html"><div>DESTINATION</div></a>
            <a class="nav -item --07" href="contact.html"><div>CONTACT</div></a>
            <a class="nav -item --08" href="members-access.html"><div>MEMBERS</div></a>
        </div>
        <div class="-block --02 -social">
            <a href="#" class="-item --01"><span></span></a>
            <a href="#" class="-item --02"><span></span></a>
            <a href="#" class="-item --03"><span></span></a>
            <a href="#" class="-item --04"><span></span></a>
        </div>
        <div class="-block --03 -extras">
            <a class="-item --01" href="index.html"><span></span></a>
        </div>
    </div>
  </div>  
</body>
</html>