<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="styles/c-style.css">
    <title>ALTEO : HERO</title>
</head>
<body>
  <div class="c-hero -style --01 --alteo">
    <div class="ct-content -img">

    </div>
    <div class="ct-content -data">
        <div class="-block --01">
            <h4>Overscript</h4>
            <h1>Main Header</h1>
            <!-- <h2>Secondary Header Text Here</h2> -->
            <!-- <p>Paragraph Block Text Here</p> -->
        </div>
        <span class="-window"></span>
        <div class="-block --02">
          <h2>Fully Immersive luxury winter experiences, tailor made for your family and friends.</h2>
          <a class="button -style --01" href="#"><span><h1>MATANGO</h1></span></a>
        </div>
    </div>
  </div>  
</body>
</html>