<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Raleway:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/c-style.css">
    <title>ALTEO : Profile Card</title>
</head>
<body>
    <div class="c-profile-card -style --01 --alteo">
        <div class="ct-content -img"></div>
        <div class="ct-content">
            <div class="-data">
                <h4>Founder</h4>
                <h1>Laurie Almond</h1>
                <h2>Short Tagline</h2>
                <p>
                    From a young age Laurie has always been in pursuit of a new experience, in search for a moment that could be etched in his mind. Brought up in Manchester, but with Europe at his doorstep, he quickly became a highly trained instructor and host. His dedication to the snowsports service industry has brought Laurie around the world, giving him a chance to see and meet a variety of different cultures and people.
                </p>
            </div>
            <div class="-items">
                <span class="-item --01"></span>
                <span class="-item --02"></span>
                <span class="-item --03"></span>
                <span class="-item --04"></span>
            </div>
        </div>
    </div>
    
    <div class="c-profile-card -style --02 --alteo">
        <div class="ct-content -img"></div>
        <div class="ct-content">
            <div class="-data">
                <h4>Founder</h4>
                <h1>Mateo Abascal</h1>
                <h2>Short Tagline</h2>
                <p>
                    Born and raised in the Argentine Patagonia, Mateo grew up skiing and hiking in the Andes Mountains. After moving to Canada and completing his studies at the University of Toronto, Mateo became obsessed with outdoor travel and exploration, visiting over 50 countries, hiking and skiing anywhere a slope presented itself. His unique world perspective, upbeat demeanour, and can-do attitude along with his profound ski talent made him the ideal winter hospitality host.
                </p>
            </div>
            <div class="-items">
                <span class="-item --01"></span>
                <span class="-item --02"></span>
                <span class="-item --03"></span>
                <span class="-item --04"></span>
            </div>
        </div>
    </div>
</body>
</html>