@use '../variables' as *;

/* ABOUT - START */

#about.--alteo.--v2 {

    /* ABOUT: Hero */

    .c-hero.-style.--01 {
        height: 710px;
    
        font-family: 'Montserrat', sans-serif;
    
        .ct-content.-img {
            background-image: none;
            background-image: url("../assets/backdrop-image-clean-point-a25.png");
            background-position: center;
            background-repeat: repeat;
            background-size: auto;
        }
    
        .-block.--01 {
            gap: 10px;
    
            h4 {
                font-size: 1.4em;
                color: $silver;  
            }
    
            h1 {
                font-size: 3em;
                color: $gold; 
            }

            h2 {
                color: $black; 
            }

            p {
                font-family: 'Rokkitt', Courier, monospace;
                font-size: 2em;
                color: $black;
            }
        }
    
        .-window {
            height: 0%;
            border: none;
        }
    
        .-block.--02 {
            gap: 20px;
    
            h2 {
                color: $gold; 
            }

            .c-segment-toggle.-style.--01 {

                .ct-content.-bar {
                    max-width: 920px;
                    background: none;
                    border-radius: 5px;

                    .-items .-item h1 {
                        display: block;
                        height: 50px;
                        width: 50px;
                        margin: auto;
                        border-radius: 10px;
                        background-position: center center;
                        background-size: contain;
                        background-color: $silver;
                    }

                    .-item.--01 h1 {
                        background-image: url(../assets/icons-ski-a75.png);
                    }

                    .-item.--02 h1 {
                        background-image: url(../assets/icons-conciergebell-a75.png);
                    }

                    .-item.--03 h1 {
                        background-image: url(../assets/icons-world-a75.png);
                    }

                    .-item.--04 h1 {
                        background-image: url(../assets/icons-car-a75.png);
                    }

                    .-item.--05 h1 {
                        background-image: url(../assets/icons-stopclock-a75.png);
                    }
                }
            }
        }
    }

    /* ABOUT: Stripe */

    .c-image-stripe.-style.--01 {
        min-height: 200px;
        border-top: 2px solid $silver;
        border-bottom: 2px solid $silver;

        @media screen and (max-width: 694px) {
            min-height: 255px;
        }

        @media screen and (max-width: 394px) {
            min-height: 275px;
        }

        .ct-content.-img {
            background-image: url("../assets/about-stripe-001.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .-block.--01 {
            gap: 0.75em;

            h4 { 
                font-size: 1.4em;
                color: $gold;
            }

            h1 {
                font-family: 'Rokkitt', Courier, monospace;
                font-size: 3em;
                color: $black; 
            }

            p {
                font-size: 1.4em;
                color: $gold;
                text-transform: uppercase;
            }
        }
    }

    .c-image-stripe.-style.--01.-quote {
        min-height: 200px;
        border-top: 2px solid $gold;
        border-bottom: 2px solid $gold;

        @media screen and (max-width: 694px) {
            min-height: 255px;
        }

        @media screen and (max-width: 394px) {
            min-height: 275px;
        }

        .ct-content.-img {
            background-image: url("../assets/rsp-about-stripe-003.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .-block.--01 {
            gap: 0.75em;

            h4 { 
                font-size: 1.4em;
                color: $gold;
            }

            h1 {
                font-family: 'Rokkitt', Courier, monospace;
                font-size: 2em;
                color: $silver; 
            }

            p {
                font-size: 1.4em;
                color: $gold;
                text-transform: uppercase;
            }
        }
    }

    /* ABOUT: Article */

    .c-article.-style.--01 {
        font-family: 'Montserrat', sans-serif;

        .-block.--01 {
            max-width: 800px;  
            gap: 10px;

            h4 {
                font-size: 1.4em;
                color: $silver;  
            }

            h1 {
                font-size: 3em;
                color: $black;
            }

            h2 {
                color: $gold;
            }
        }

        .-block.--02, .-block.--04 {
            width: 100%;
            max-width: 800px;  
            gap: 10px;

            p {
                font-family: 'Rokkitt', Courier, monospace;
                font-size: 1.5em;
                color: $black;
            }

            h2 {
                text-transform: uppercase;
                color: $gold;
                text-align: center;
            }
        }

        .-block.--03.-images {
            width: 100%;
            max-width: 800px;  
            gap: 20px;

            .c-image-card.-style.--01 {
                min-width: 198px;
                font-family: 'Montserrat', sans-serif;

                .ct-content.-img {
                    min-height: 320px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;

                    &.--01 {
                        background-image: url(../assets/rsp-about-image-001-800x320px.jpg);
                    }

                    &.--02 {
                        background-image: url(../assets/rsp-about-image-002-800x320px.jpg);
                    }
                }
            }

            .-block.--01.-text {
                right: initial;
                left: 20px;
                text-align: left;
                gap: 0.5em;

                h1 {
                    font-size: 1.2em;
                    font-weight: 700;
                    text-transform: capitalize;
                }

                h2 {
                    font-size: 1.2em;
                    opacity: 0.75;
                }
            }
        }

        .-block.--02.-services {
            align-items: flex-start;

            h4 {
                color: $gold;
                text-align: left;
            }
        }

        .-block.--04.-cta {

            h2 {
                text-transform: uppercase;
                color: $black;
            }

            p {
                text-transform: uppercase;
                color: $black;
                text-align: center;
            }

            a.button.-style.--01 {
                margin-top: 0.5em;
                width: 100%;
            }
        }
    }

    /* ABOUT: Bios */

    .c-bio-card {
        display: flex;
        flex-direction: row;
        width: 100%;

        h1, h2 {
            font-family: $fontMain;
            text-transform: uppercase;
        }

        h1 {
            font-size: 16px;
            color: $gold;
        }

        h2 {
            font-size: 14px;
            color: $silver;
        }

        p {
            font-family: $fontAlt;
            font-size: 15px;
            text-align: justify;
        }

        .box-l, .box-r {
            min-width: 50%;
            min-height: 320px;
        }

        .box-l {            
            border-right: solid 1px $gold;
            padding-right: 20px;
        }

        .box-r {
            border-left: solid 1px $gold;
            padding-left: 20px;
        }

        &.--laurie {
            
            .img {
                min-width: 100%;
                min-height: 100%;
                border-top-left-radius: 15px 15px;
                border-bottom-left-radius: 15px 15px;

                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url(../assets/rsp-about-image-003-800x320px.jpg);
                background-color: whitesmoke;
            }

            .text {
                min-width: 100%;
                min-height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;

                p {
                    text-align: justify;
                }
            }
        }

        &.--mateo {

            .img {
                min-width: 100%;
                min-height: 100%;
                border-top-right-radius: 15px 15px;
                border-bottom-right-radius: 15px 15px;

                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url(../assets/rsp-about-image-004-800x320px.jpg);
                background-color: whitesmoke;
            }

            .text {
                min-width: 100%;
                min-height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;
                direction: rtl;

                p {
                    text-align: justify;
                }
            }
        }
    }


}