@use '../variables' as *;

/* DESTINATIONS - START */

#destination.--alteo.--v2 {

    /* DESTINATIONS: Hero */

    .c-hero.-style.--01 {
        height: 710px;
    
        font-family: 'Montserrat', sans-serif;
    
        .ct-content.-img {
            background-image: none;
            background-image: url("../assets/world-map-point-a25.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    
        .-block.--01 {
            gap: 10px;
    
            h4 {
                font-size: 1.4em;
                color: $silver;  
            }
    
            h1 {
                font-size: 3em;
                color: $gold; 
            }

            h2 {
                color: $black; 
            }

            p {
                font-family: 'Rokkitt', Courier, monospace;
                font-size: 2em;
                color: $black;
            }
        }
    
        .-window {
            height: 0%;
            border: none;
        }
    
        .-block.--02 {
            gap: 20px;
    
            h2 {
                color: $gold; 
            }

            .c-segment-toggle.-style.--01 {

                .ct-content.-bar {
                    max-width: 920px;
                    background: none;
                    border-radius: 5px;
                    // border: 1px solid $silver;
                }
            }
        }
    }

    /* DESTINATIONS: Stripe */

    .c-image-stripe.-style.--01 {
        min-height: 200px;
        border-top: 2px solid $silver;
        border-bottom: 2px solid $silver;

        @media screen and (max-width: 694px) {
            min-height: 255px;
        }

        @media screen and (max-width: 394px) {
            min-height: 275px;
        }

        .ct-content.-img {
            background-image: url("../assets/destination-stripe-007.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .-block.--01 {
            gap: 0.75em;

            h4 { 
                font-size: 1.4em;
                color: $gold;
            }

            h1 {
                font-family: 'Rokkitt', Courier, monospace;
                font-size: 3em;
                color: $black; 
            }

            p {
                font-size: 1.4em;
                color: $gold;
                text-transform: uppercase;
            }
        }
    }

    /* DESTINATIONS: Article */

    .c-article.-style.--01 {
        font-family: 'Montserrat', sans-serif;

        .-block.--01 {

            h4 {
                font-size: 1.4em;
                color: $silver;  
            }

            h1 {
                font-size: 3em;
                color: $black;
            }

            h2 {
                color: $gold;
            }
        }

        .-block.--01, .-block.--02, .-block.--03, .-block.--04, .-block.--05 {
            width: 100%;
            max-width: 800px;  
            gap: 10px;

            p {
                font-family: 'Rokkitt', Courier, monospace;
                font-size: 1.5em;
                color: $black;
            }

            h2 {
                text-transform: uppercase;
                color: $gold;
                text-align: center;
            }
        }

        .-block.--03.-images {
            gap: 15px;

            .c-image-card.-style.--01 {
                min-width: 198px;
                font-family: 'Montserrat', sans-serif;

                .ct-content.-img.--01 {
                    background-image: url(../assets/rsp-destinations-image-001.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    
                    h1 {
                        color: $black;
                    }
                
                    h2 {
                        color: $gold;
                    }
                }

                .ct-content.-img.--02 {
                    background-image: url(../assets/rsp-destinations-image-002.jpg);
                    background-position: right;
                    background-repeat: no-repeat;
                    background-size: cover;

                    .-block.--01.-text {
                        left: 20px;
                        text-align: left;
                    }

                    h1 {
                        color: $black;
                    }
                
                    h2 {
                        color: $gold;
                    }
                }

                .ct-content.-img.--03 {
                    background-image: url(../assets/rsp-destinations-image-007.jpg);
                    background-position: right;
                    background-repeat: no-repeat;
                    background-size: cover;

                    h1 {
                        color: $black;
                    }
                
                    h2 {
                        color: $gold;
                    }
                }

                .ct-content.-img.--04 {
                    background-image: url(../assets/rsp-destinations-image-008.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;

                    .-block.--01.-text {
                        left: 20px;
                        text-align: left;
                    }

                    h1 {
                        color: white;
                    }
                
                    h2 {
                        color: white;
                    }
                }

                .ct-content.-img.--05 {
                    background-image: url(../assets/rsp-destinations-image-009.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;

                    h1 {
                        color: white;
                    }
                
                    h2 {
                        color: white;
                    }
                }

                .ct-content.-img.--06 {
                    background-image: url(../assets/rsp-destinations-image-003.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;

                    .-block.--01.-text {
                        left: 20px;
                        text-align: left;
                    }

                    h1 {
                        color: white;
                    }
                
                    h2 {
                        color: white;
                    }
                }
            }

            .-block.--01.-text {
                gap: 0.5em;

                h1 {
                    font-size: 1.2em;
                    font-weight: 700;
                    text-transform: capitalize;
                }

                h2 {
                    font-size: 1.2em;
                    opacity: 0.75;
                }
            }
        }

        .-block.--02.-services {
            align-items: flex-start;

            h4 {
                color: $gold;
                text-align: left;
            }
            // text-align: left;
        }

        .-block.--04.-cta {

            h2 {
                text-transform: uppercase;
                color: $black;
            }

            p {
                text-transform: uppercase;
                color: $black;
                text-align: center;
            }

            a.button.-style.--01 {
                margin-top: 0.5em;
                width: 100%;
            }
        }
    }

    /* DESTINATION: Details */

    .-block.--04.-calendar .c-details.-style.--01 {
        gap: 15px;

        details {
            border: none;
            border-radius: 10px;
            background: whitesmoke;

            summary {
                h3 {
                    color: #aaa;
                }
            }

            .ct-details-content {
                padding: 15px 30px 15px 30px;
                gap: 15px;
                background-color: white;
                border-bottom: 2px solid whitesmoke;
            }
    
            p { 
                font-family: "Rokkitt", Courier, monospace;
                min-height: 25px;
                height: 100%;
                font-size: 1.5em;
                font-weight: 500;
                color: #aaa;
            }
        }
    }

    /* DESTINATION: Seasons */

    .-block.--04.-calendar .c-details.-style.--01 {
        gap: 15px;

        details {
            border: none;
            border-top: 1px solid $gold;
            border-bottom: 1px solid $gold;
            border-radius: 0px;
            background: whitesmoke;

            summary {
                background-color: white;

                h3 {
                    font-size: 15px;
                    color: $gold;
                }

                span {
                    background-image: url("/assets/angle-circle-left-gold.svg");
                }
            }

            .ct-details-content {
                padding: 15px 15px 15px 15px;
                background-color: white;
                // border-bottom-left-radius: 10px;
                // border-bottom-right-radius: 10px;
                
                .schedule {
                    display: grid;
                    grid-template-columns: 4fr 1fr;
                    justify-items: center stretch;
                    align-items: center stretch;
                    gap: 20px;
                    // background-color: red;

                    h1 {
                        color: $black;
                        font-size: 14px;
                        text-align: center;
                        padding: 0px 10px 0px 10px;
                        margin-bottom: 15px;

                        // &:nth-child(2) {
                        //     padding-left: 20px;
                        //     text-align: left;
                        // }
                    }

                    .description {
                        // background-color: blue;
                        padding: 20px;

                        h4 {
                            color: $gold;
                        }

                        p {
                            margin-top: 10px;
                            text-align: justify;
                            color: $black;
                        }
                    }

                    .note {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 10px;
                        text-align: center;
                        border-left: 1px solid $gold;
                    }
                }
        
                p { 
                    font-family: "Rokkitt", Courier, monospace;
                    min-height: 25px;
                    height: 100%;
                    font-size: 1.5em;
                    font-weight: 500;
                    color: #aaa;
                }
            }
        }
    }




    /* DESTINATION: Itinerary */

    .-block.--05.-itinerary .c-details.-style.--01 {
        gap: 15px;

        details {
            border: none;
            border-top: 1px solid $silver;
            border-bottom: 1px solid $silver;
            border-radius: 0px;
            background: whitesmoke;

            summary {
                background-color: white;
                background-image: url(/assets/destination-details-001.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: right;
                // border-radius: 15px;

                h3 {
                    font-size: 15px;
                    color: $silver;
                }

                span {
                    background-image: url("/assets/angle-circle-left-white.svg");
                }
            }

            .ct-details-content {
                padding: 15px 15px 15px 15px;
                gap: 15px;
                background-color: white;
                // border-bottom-left-radius: 10px;
                // border-bottom-right-radius: 10px;
                
                .schedule {
                    display: grid;
                    grid-template-columns: 1fr 4fr 1fr;
                    justify-items: center stretch;
                    align-items: center stretch;

                    h1 {
                        color: $black;
                        font-size: 14px;
                        text-align: center;
                        padding: 0px 10px 0px 10px;
                        margin-bottom: 15px;

                        &:nth-child(2) {
                            padding-left: 20px;
                            text-align: left;
                        }
                    }

                    .time {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 10px;
                        text-align: center;
                        border-right: 1px solid $silver;
                    }

                    .description {
                        // background-color: blue;
                        padding: 20px;

                        h4 {
                            color: $gold;
                        }

                        p {
                            margin-top: 10px;
                            text-align: justify;
                            color: $black;
                        }
                    }

                    .place {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 10px;
                        text-align: center;
                        border-left: 1px solid $silver;
                    }
                }
        
                p { 
                    font-family: "Rokkitt", Courier, monospace;
                    min-height: 25px;
                    height: 100%;
                    font-size: 1.5em;
                    font-weight: 500;
                    color: #aaa;
                }
            }
        }
    }
}