@use '../variables' as *;

/* FORM */

.site-form.-style.--01 {
    display: flex;
    position: relative;
    width: 100%;
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;

    input {
        min-width: 300px;
        min-height: 50px;
        border-radius: 10px;
        border: 1px solid $silver;
        line-height: 50px;
        text-align: center;
        color: $silver;
        text-transform: uppercase;
        font-size: 10px;

        &::placeholder {
            color: $silver;
            font-size: 10px;
            text-align: center;
            text-transform: uppercase;
        }
    }

    .submit-button {
        min-width: 300px;
        min-height: 50px;
        background-color: whitesmoke;
        border-radius: 10px;
        border: 1px solid $silver;
        line-height: 50px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.4em;
        color: $silver;
        text-transform: uppercase;

        &:hover {
            border: 1px solid #aaa;
            color: #aaa;
        }
    }
}

/* FORM-SUCCESS */

#index.--alteo.--form-success {

    .c-article.-style.--01 .ct-content.-data {
        height: 798px;

        .button.-style.--01 {
            min-width: 200px;
            max-width: 250px;
        }
    }

}

/* FORM VALIDATION MESSAGES */

.error-message {
	display: none;
    position: absolute;
    top: 81px;
    left: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-align: left;
    text-transform: uppercase;
    color: $red-xl;
    background-color: white;
}

/* Only show invalid ring while not focused */
input:not(:focus):not(:placeholder-shown):invalid {
	border-color: $red-xl;
    color: $red-xl;
}

/* Only display the error message while not focused */
input:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
	display: block;	
}

/* Only show valid ring while not focused and if a value is entered */
/* :empty won't work here as that targets elements that have no childeren. Therefore we abuse :placeholder-shown */
input:not(:focus):not(:placeholder-shown):valid {
	border-color: #aaa;
    color: #aaa;
}
