*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html, body {
  font-size: 10px;
}

ul,
li,
a,
button {
  text-decoration: none;
  list-style-type: none;
}

input,
button,
textarea,
select,
fieldset {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  min-width: 374px;
}

.--alteo {
  /* Footer */
}
.--alteo hr {
  width: 100%;
  border: 1px solid #bb9d58;
}
.--alteo .c-footer.-style.--01 {
  background-color: #d3d1d3;
  font-family: "Montserrat", sans-serif;
}
.--alteo .c-footer.-style.--01 .ct-content.-data {
  background-color: initial;
}
.--alteo .c-footer.-style.--01 .ct-content.-data .-block.--01 span, .--alteo .c-footer.-style.--01 .ct-content.-data .-block.--02 span, .--alteo .c-footer.-style.--01 .ct-content.-data .-block.--03 span {
  color: #282828;
}
.--alteo .c-footer.-style.--01 .ct-content.-data .-block.--01 {
  gap: 10px;
}
.--alteo .c-footer.-style.--01 .ct-content.-data .-block.--01 .nav.-item {
  flex-basis: 0;
  flex-grow: 1;
  font-size: 1em;
}
.--alteo .c-footer.-style.--01 .ct-content.-data .-block.--01 .nav.-item:hover span {
  color: #bb9d58;
  font-weight: 500;
}
.--alteo .c-footer.-style.--01 .ct-content.-data .-block.--02 .-item {
  background-color: initial;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.--alteo .c-footer.-style.--01 .ct-content.-data .-block.--02 .-item.--01 {
  background-image: url("../assets/social-facebook-square-brands.svg");
}
.--alteo .c-footer.-style.--01 .ct-content.-data .-block.--02 .-item.--02 {
  background-image: url("../assets/social-instagram-brands.svg");
}
.--alteo .c-footer.-style.--01 .ct-content.-data .-block.--02 .-item.--03 {
  background-image: url("../assets/social-youtube-brands.svg");
}
.--alteo .c-footer.-style.--01 .ct-content.-data .-block.--02 .-item.--04 {
  background-image: url("../assets/social-whatsapp-brands.svg");
}

/* EXPERIENCES - START */
#experiences.--alteo {
  /* EXPERIENCES: Hero */
  /* EXPERIENCES Article */
}
#experiences.--alteo .c-hero.-style.--01 {
  height: 710px;
  font-family: "Montserrat", sans-serif;
}
#experiences.--alteo .c-hero.-style.--01 .ct-content.-img {
  background-image: url("../assets/backdrop-image-012-SQ-BIG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#experiences.--alteo .c-hero.-style.--01 .-block.--01 {
  gap: 10px;
}
#experiences.--alteo .c-hero.-style.--01 .-block.--01 h4 {
  font-size: 1.4em;
  color: #d3d1d3;
}
#experiences.--alteo .c-hero.-style.--01 .-block.--01 h1 {
  font-size: 3em;
  color: #bb9d58;
}
#experiences.--alteo .c-hero.-style.--01 .-window {
  height: 45%;
  border: none;
}
#experiences.--alteo .c-hero.-style.--01 .-block.--02 {
  gap: 20px;
}
#experiences.--alteo .c-hero.-style.--01 .-block.--02 h2 {
  color: #bb9d58;
}
#experiences.--alteo .c-article.-style.--01 {
  font-family: "Montserrat", sans-serif;
}
#experiences.--alteo .c-article.-style.--01 .-block.--01 {
  max-width: 800px;
  gap: 10px;
}
#experiences.--alteo .c-article.-style.--01 .-block.--01 h4 {
  font-size: 1.4em;
  color: #d3d1d3;
}
#experiences.--alteo .c-article.-style.--01 .-block.--01 h1 {
  font-size: 3em;
  color: #282828;
}
#experiences.--alteo .c-article.-style.--01 .-block.--01 h2 {
  color: #bb9d58;
}
#experiences.--alteo .c-article.-style.--01 .-block.--02, #experiences.--alteo .c-article.-style.--01 .-block.--04 {
  max-width: 800px;
  gap: 10px;
}
#experiences.--alteo .c-article.-style.--01 .-block.--02 p, #experiences.--alteo .c-article.-style.--01 .-block.--04 p {
  font-family: "Rokkitt", Courier, monospace;
  font-size: 1.5em;
  color: #282828;
}
#experiences.--alteo .c-article.-style.--01 .-block.--02 h2, #experiences.--alteo .c-article.-style.--01 .-block.--04 h2 {
  text-transform: uppercase;
  color: #bb9d58;
  text-align: center;
}
#experiences.--alteo .c-article.-style.--01 .-block.--03 {
  width: 100%;
  max-width: 800px;
  gap: 15px;
  /* Working on This*/
}
#experiences.--alteo .c-article.-style.--01 .-block.--03 .c-image-card.-style.--01 {
  min-width: 198px;
  font-family: "Montserrat", sans-serif;
}
#experiences.--alteo .c-article.-style.--01 .-block.--03 .-block.--01.-text {
  gap: 0.5em;
}
#experiences.--alteo .c-article.-style.--01 .-block.--03 .-block.--01.-text h1 {
  font-size: 1.2em;
  font-weight: 700;
  text-transform: capitalize;
}
#experiences.--alteo .c-article.-style.--01 .-block.--03 .-block.--01.-text h2 {
  font-size: 1.2em;
  opacity: 0.75;
}
#experiences.--alteo .c-article.-style.--01 .-block.--02.-services {
  align-items: flex-start;
}
#experiences.--alteo .c-article.-style.--01 .-block.--02.-services h4 {
  color: #bb9d58;
  text-align: left;
}
#experiences.--alteo .c-article.-style.--01 .-block.--04.-cta h2 {
  color: #282828;
}
#experiences.--alteo .c-article.-style.--01 .-block.--04.-cta p {
  text-transform: uppercase;
  text-align: center;
}
#experiences.--alteo .c-article.-style.--01 .-block.--04.-cta a.button.-style.--01 {
  margin-top: 0.5em;
  width: 100%;
}

/* DESTINATIONS - START */
#destination.--alteo {
  /* DESTINATIONS: Hero */
  /* DESTINATIONS: Stripe */
  /* DESTINATIONS: Article */
  /* DESTINATION: Details */
}
#destination.--alteo .c-hero.-style.--01 {
  height: 710px;
  font-family: "Montserrat", sans-serif;
}
#destination.--alteo .c-hero.-style.--01 .ct-content.-img {
  background-image: none;
  background-image: url("../assets/world-map-point-a25.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#destination.--alteo .c-hero.-style.--01 .-block.--01 {
  gap: 10px;
}
#destination.--alteo .c-hero.-style.--01 .-block.--01 h4 {
  font-size: 1.4em;
  color: #d3d1d3;
}
#destination.--alteo .c-hero.-style.--01 .-block.--01 h1 {
  font-size: 3em;
  color: #bb9d58;
}
#destination.--alteo .c-hero.-style.--01 .-block.--01 h2 {
  color: #282828;
}
#destination.--alteo .c-hero.-style.--01 .-block.--01 p {
  font-family: "Rokkitt", Courier, monospace;
  font-size: 2em;
  color: #282828;
}
#destination.--alteo .c-hero.-style.--01 .-window {
  height: 0%;
  border: none;
}
#destination.--alteo .c-hero.-style.--01 .-block.--02 {
  gap: 20px;
}
#destination.--alteo .c-hero.-style.--01 .-block.--02 h2 {
  color: #bb9d58;
}
#destination.--alteo .c-hero.-style.--01 .-block.--02 .c-segment-toggle.-style.--01 .ct-content.-bar {
  max-width: 920px;
  background: none;
  border-radius: 5px;
}
#destination.--alteo .c-image-stripe.-style.--01 {
  min-height: 200px;
  border-top: 2px solid #d3d1d3;
  border-bottom: 2px solid #d3d1d3;
}
@media screen and (max-width: 694px) {
  #destination.--alteo .c-image-stripe.-style.--01 {
    min-height: 255px;
  }
}
@media screen and (max-width: 394px) {
  #destination.--alteo .c-image-stripe.-style.--01 {
    min-height: 275px;
  }
}
#destination.--alteo .c-image-stripe.-style.--01 .ct-content.-img {
  background-image: url("../assets/destination-stripe-007.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#destination.--alteo .c-image-stripe.-style.--01 .-block.--01 {
  gap: 0.75em;
}
#destination.--alteo .c-image-stripe.-style.--01 .-block.--01 h4 {
  font-size: 1.4em;
  color: #bb9d58;
}
#destination.--alteo .c-image-stripe.-style.--01 .-block.--01 h1 {
  font-family: "Rokkitt", Courier, monospace;
  font-size: 3em;
  color: #282828;
}
#destination.--alteo .c-image-stripe.-style.--01 .-block.--01 p {
  font-size: 1.4em;
  color: #bb9d58;
  text-transform: uppercase;
}
#destination.--alteo .c-article.-style.--01 {
  font-family: "Montserrat", sans-serif;
}
#destination.--alteo .c-article.-style.--01 .-block.--01 {
  max-width: 800px;
  gap: 10px;
}
#destination.--alteo .c-article.-style.--01 .-block.--01 h4 {
  font-size: 1.4em;
  color: #d3d1d3;
}
#destination.--alteo .c-article.-style.--01 .-block.--01 h1 {
  font-size: 3em;
  color: #282828;
}
#destination.--alteo .c-article.-style.--01 .-block.--01 h2 {
  color: #bb9d58;
}
#destination.--alteo .c-article.-style.--01 .-block.--02, #destination.--alteo .c-article.-style.--01 .-block.--04 {
  width: 100%;
  max-width: 800px;
  gap: 10px;
}
#destination.--alteo .c-article.-style.--01 .-block.--02 p, #destination.--alteo .c-article.-style.--01 .-block.--04 p {
  font-family: "Rokkitt", Courier, monospace;
  font-size: 1.5em;
  color: #282828;
}
#destination.--alteo .c-article.-style.--01 .-block.--02 h2, #destination.--alteo .c-article.-style.--01 .-block.--04 h2 {
  text-transform: uppercase;
  color: #bb9d58;
  text-align: center;
}
#destination.--alteo .c-article.-style.--01 .-block.--03 {
  width: 100%;
  max-width: 800px;
  gap: 15px;
}
#destination.--alteo .c-article.-style.--01 .-block.--03 .c-image-card.-style.--01 {
  min-width: 198px;
  font-family: "Montserrat", sans-serif;
}
#destination.--alteo .c-article.-style.--01 .-block.--03 .-block.--01.-text {
  gap: 0.5em;
}
#destination.--alteo .c-article.-style.--01 .-block.--03 .-block.--01.-text h1 {
  font-size: 1.2em;
  font-weight: 700;
  text-transform: capitalize;
}
#destination.--alteo .c-article.-style.--01 .-block.--03 .-block.--01.-text h2 {
  font-size: 1.2em;
  opacity: 0.75;
}
#destination.--alteo .c-article.-style.--01 .-block.--02.-services {
  align-items: flex-start;
}
#destination.--alteo .c-article.-style.--01 .-block.--02.-services h4 {
  color: #bb9d58;
  text-align: left;
}
#destination.--alteo .c-article.-style.--01 .-block.--04.-cta h2 {
  text-transform: uppercase;
  color: #282828;
}
#destination.--alteo .c-article.-style.--01 .-block.--04.-cta p {
  text-transform: uppercase;
  color: #282828;
  text-align: center;
}
#destination.--alteo .c-article.-style.--01 .-block.--04.-cta a.button.-style.--01 {
  margin-top: 0.5em;
  width: 100%;
}
#destination.--alteo .-block.--04.-calendar .c-details.-style.--01 {
  gap: 15px;
}
#destination.--alteo .-block.--04.-calendar .c-details.-style.--01 details {
  border: none;
  border-radius: 10px;
  background: whitesmoke;
}
#destination.--alteo .-block.--04.-calendar .c-details.-style.--01 details summary h3 {
  color: #aaa;
}
#destination.--alteo .-block.--04.-calendar .c-details.-style.--01 details .ct-details-content {
  padding: 15px 30px 15px 30px;
  gap: 15px;
  background-color: white;
  border-bottom: 2px solid whitesmoke;
}
#destination.--alteo .-block.--04.-calendar .c-details.-style.--01 details p {
  font-family: "Rokkitt", Courier, monospace;
  min-height: 25px;
  height: 100%;
  font-size: 1.5em;
  font-weight: 500;
  color: #aaa;
}

/* ABOUT - START */
#about.--alteo {
  /* ABOUT: Hero */
  /* ABOUT: Stripe */
  /* ABOUT: Article */
  /* ABOUT: Details */
}
#about.--alteo .c-hero.-style.--01 {
  height: 710px;
  font-family: "Montserrat", sans-serif;
}
#about.--alteo .c-hero.-style.--01 .ct-content.-img {
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#about.--alteo .c-hero.-style.--01 .-block.--01 {
  gap: 10px;
}
#about.--alteo .c-hero.-style.--01 .-block.--01 h4 {
  font-size: 1.4em;
  color: #d3d1d3;
}
#about.--alteo .c-hero.-style.--01 .-block.--01 h1 {
  font-size: 3em;
  color: #bb9d58;
}
#about.--alteo .c-hero.-style.--01 .-block.--01 h2 {
  color: #282828;
}
#about.--alteo .c-hero.-style.--01 .-block.--01 p {
  font-family: "Rokkitt", Courier, monospace;
  font-size: 2em;
  color: #282828;
}
#about.--alteo .c-hero.-style.--01 .-window {
  height: 0%;
  border: none;
}
#about.--alteo .c-hero.-style.--01 .-block.--02 {
  gap: 20px;
}
#about.--alteo .c-hero.-style.--01 .-block.--02 h2 {
  color: #bb9d58;
}
#about.--alteo .c-hero.-style.--01 .-block.--02 .c-segment-toggle.-style.--01 .ct-content.-bar {
  max-width: 920px;
  background: none;
  border-radius: 5px;
}
#about.--alteo .c-image-stripe.-style.--01 {
  min-height: 200px;
  border-top: 2px solid #d3d1d3;
  border-bottom: 2px solid #d3d1d3;
}
@media screen and (max-width: 694px) {
  #about.--alteo .c-image-stripe.-style.--01 {
    min-height: 255px;
  }
}
@media screen and (max-width: 394px) {
  #about.--alteo .c-image-stripe.-style.--01 {
    min-height: 275px;
  }
}
#about.--alteo .c-image-stripe.-style.--01 .ct-content.-img {
  background-image: url("../assets/about-stripe-001.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about.--alteo .c-image-stripe.-style.--01 .-block.--01 {
  gap: 0.75em;
}
#about.--alteo .c-image-stripe.-style.--01 .-block.--01 h4 {
  font-size: 1.4em;
  color: #bb9d58;
}
#about.--alteo .c-image-stripe.-style.--01 .-block.--01 h1 {
  font-family: "Rokkitt", Courier, monospace;
  font-size: 3em;
  color: #282828;
}
#about.--alteo .c-image-stripe.-style.--01 .-block.--01 p {
  font-size: 1.4em;
  color: #bb9d58;
  text-transform: uppercase;
}
#about.--alteo .c-image-stripe.-style.--01.-quote {
  min-height: 200px;
  border-top: 2px solid #bb9d58;
  border-bottom: 2px solid #bb9d58;
}
@media screen and (max-width: 694px) {
  #about.--alteo .c-image-stripe.-style.--01.-quote {
    min-height: 255px;
  }
}
@media screen and (max-width: 394px) {
  #about.--alteo .c-image-stripe.-style.--01.-quote {
    min-height: 275px;
  }
}
#about.--alteo .c-image-stripe.-style.--01.-quote .ct-content.-img {
  background-image: url("../assets/about-stripe-002.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about.--alteo .c-image-stripe.-style.--01.-quote .-block.--01 {
  gap: 0.75em;
}
#about.--alteo .c-image-stripe.-style.--01.-quote .-block.--01 h4 {
  font-size: 1.4em;
  color: #bb9d58;
}
#about.--alteo .c-image-stripe.-style.--01.-quote .-block.--01 h1 {
  font-family: "Rokkitt", Courier, monospace;
  font-size: 3em;
  color: #d3d1d3;
}
#about.--alteo .c-image-stripe.-style.--01.-quote .-block.--01 p {
  font-size: 1.4em;
  color: #bb9d58;
  text-transform: uppercase;
}
#about.--alteo .c-article.-style.--01 {
  font-family: "Montserrat", sans-serif;
}
#about.--alteo .c-article.-style.--01 .-block.--01 {
  max-width: 800px;
  gap: 10px;
}
#about.--alteo .c-article.-style.--01 .-block.--01 h4 {
  font-size: 1.4em;
  color: #d3d1d3;
}
#about.--alteo .c-article.-style.--01 .-block.--01 h1 {
  font-size: 3em;
  color: #282828;
}
#about.--alteo .c-article.-style.--01 .-block.--01 h2 {
  color: #bb9d58;
}
#about.--alteo .c-article.-style.--01 .-block.--02, #about.--alteo .c-article.-style.--01 .-block.--04 {
  width: 100%;
  max-width: 800px;
  gap: 10px;
}
#about.--alteo .c-article.-style.--01 .-block.--02 p, #about.--alteo .c-article.-style.--01 .-block.--04 p {
  font-family: "Rokkitt", Courier, monospace;
  font-size: 1.5em;
  color: #282828;
}
#about.--alteo .c-article.-style.--01 .-block.--02 h2, #about.--alteo .c-article.-style.--01 .-block.--04 h2 {
  text-transform: uppercase;
  color: #bb9d58;
  text-align: center;
}
#about.--alteo .c-article.-style.--01 .-block.--03 {
  width: 100%;
  max-width: 800px;
  gap: 15px;
}
#about.--alteo .c-article.-style.--01 .-block.--03 .c-image-card.-style.--01 {
  min-width: 198px;
  font-family: "Montserrat", sans-serif;
}
#about.--alteo .c-article.-style.--01 .-block.--03 .-block.--01.-text {
  gap: 0.5em;
}
#about.--alteo .c-article.-style.--01 .-block.--03 .-block.--01.-text h1 {
  font-size: 1.2em;
  font-weight: 700;
  text-transform: capitalize;
}
#about.--alteo .c-article.-style.--01 .-block.--03 .-block.--01.-text h2 {
  font-size: 1.2em;
  opacity: 0.75;
}
#about.--alteo .c-article.-style.--01 .-block.--02.-services {
  align-items: flex-start;
}
#about.--alteo .c-article.-style.--01 .-block.--02.-services h4 {
  color: #bb9d58;
  text-align: left;
}
#about.--alteo .c-article.-style.--01 .-block.--04.-cta h2 {
  text-transform: uppercase;
  color: #282828;
}
#about.--alteo .c-article.-style.--01 .-block.--04.-cta p {
  text-transform: uppercase;
  color: #282828;
  text-align: center;
}
#about.--alteo .c-article.-style.--01 .-block.--04.-cta a.button.-style.--01 {
  margin-top: 0.5em;
  width: 100%;
}
#about.--alteo .-block.--04.-calendar .c-details.-style.--01 {
  gap: 15px;
}
#about.--alteo .-block.--04.-calendar .c-details.-style.--01 details {
  border: none;
  border-radius: 10px;
  background: whitesmoke;
}
#about.--alteo .-block.--04.-calendar .c-details.-style.--01 details summary h3 {
  color: #aaa;
}
#about.--alteo .-block.--04.-calendar .c-details.-style.--01 details .ct-details-content {
  padding: 15px 30px 15px 30px;
  gap: 15px;
  background-color: white;
  border-bottom: 2px solid whitesmoke;
}
#about.--alteo .-block.--04.-calendar .c-details.-style.--01 details p {
  font-family: "Rokkitt", Courier, monospace;
  min-height: 25px;
  height: 100%;
  font-size: 1.5em;
  font-weight: 500;
  color: #aaa;
}

/* CONTACT START */
#contact.--alteo {
  /* CONTACT: Hero */
  /* CONTACT: Article */
}
#contact.--alteo .c-hero.-style.--01 {
  height: 710px;
  font-family: "Montserrat", sans-serif;
}
#contact.--alteo .c-hero.-style.--01 .ct-content.-img {
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#contact.--alteo .c-hero.-style.--01 .-block.--01 {
  gap: 10px;
}
#contact.--alteo .c-hero.-style.--01 .-block.--01 h4 {
  font-size: 1.4em;
  color: #d3d1d3;
}
#contact.--alteo .c-hero.-style.--01 .-block.--01 h1 {
  font-size: 3em;
  color: #bb9d58;
}
#contact.--alteo .c-hero.-style.--01 .-block.--01 h2 {
  color: #282828;
}
#contact.--alteo .c-hero.-style.--01 .-block.--01 p {
  font-family: "Rokkitt", Courier, monospace;
  font-size: 2em;
  color: #282828;
}
#contact.--alteo .c-hero.-style.--01 .-window {
  height: 0%;
  border: none;
}
#contact.--alteo .c-hero.-style.--01 .-block.--02 {
  gap: 20px;
}
#contact.--alteo .c-hero.-style.--01 .-block.--02 h2 {
  color: #bb9d58;
}
#contact.--alteo .c-hero.-style.--01 .-block.--02 .c-segment-toggle.-style.--01 .ct-content.-bar {
  max-width: 920px;
  background: none;
  border-radius: 5px;
}
#contact.--alteo .c-article.-style.--01 {
  font-family: "Montserrat", sans-serif;
  border-top: 2px solid #d3d1d3;
}
#contact.--alteo .c-article.-style.--01 .-block.--01.-headings {
  max-width: 800px;
  gap: 10px;
}
#contact.--alteo .c-article.-style.--01 .-block.--01.-headings h4 {
  font-size: 1.4em;
  color: #d3d1d3;
}
#contact.--alteo .c-article.-style.--01 .-block.--01.-headings h1 {
  font-size: 3em;
  color: #282828;
}
#contact.--alteo .c-article.-style.--01 .-block.--01.-headings h2 {
  color: #bb9d58;
}
#contact.--alteo .c-article.-style.--01 .-block.--01.-form {
  max-width: 800px;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}
#contact.--alteo .c-article.-style.--01 .-block.--01.-form div {
  flex-basis: 100%;
  min-width: 365px;
  min-height: 50px;
  border-radius: 10px;
  border: 1px solid #d3d1d3;
  line-height: 50px;
  color: #d3d1d3;
}
#contact.--alteo .c-article.-style.--01 .-block.--01.-form div.xxx-button {
  background-color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4em;
}
#contact.--alteo .c-article.-style.--01 .-block.--02, #contact.--alteo .c-article.-style.--01 .-block.--04 {
  width: 100%;
  max-width: 800px;
  gap: 10px;
}
#contact.--alteo .c-article.-style.--01 .-block.--02 p, #contact.--alteo .c-article.-style.--01 .-block.--04 p {
  font-family: "Rokkitt", Courier, monospace;
  font-size: 1.5em;
  color: #282828;
}
#contact.--alteo .c-article.-style.--01 .-block.--02 h2, #contact.--alteo .c-article.-style.--01 .-block.--04 h2 {
  text-transform: uppercase;
  color: #bb9d58;
  text-align: center;
}
#contact.--alteo .c-article.-style.--01 .-block.--02.-services {
  align-items: flex-start;
}
#contact.--alteo .c-article.-style.--01 .-block.--02.-services h4 {
  color: #bb9d58;
  text-align: left;
}
#contact.--alteo .c-article.-style.--01 .-block.--04.-cta h2 {
  text-transform: uppercase;
  color: #282828;
}
#contact.--alteo .c-article.-style.--01 .-block.--04.-cta p {
  text-transform: uppercase;
  color: #282828;
  text-align: center;
}
#contact.--alteo .c-article.-style.--01 .-block.--04.-cta a.button.-style.--01 {
  margin-top: 0.5em;
  width: 100%;
}

/* HOME START */
#home.--alteo, #index.--alteo {
  /* CONTACT: Hero */
  /* CONTACT: Article */
}
#home.--alteo .c-hero.-style.--01, #index.--alteo .c-hero.-style.--01 {
  height: 710px;
  font-family: "Montserrat", sans-serif;
}
#home.--alteo .c-hero.-style.--01 .ct-content.-img, #index.--alteo .c-hero.-style.--01 .ct-content.-img {
  background-image: none;
  background-image: url("../assets/backdrop-image-006-HR-2880px.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#home.--alteo .c-hero.-style.--01 .-block.--01, #index.--alteo .c-hero.-style.--01 .-block.--01 {
  gap: 10px;
}
#home.--alteo .c-hero.-style.--01 .-block.--01 h4, #index.--alteo .c-hero.-style.--01 .-block.--01 h4 {
  font-size: 1.4em;
  color: #d3d1d3;
}
#home.--alteo .c-hero.-style.--01 .-block.--01 h1, #index.--alteo .c-hero.-style.--01 .-block.--01 h1 {
  font-size: 3em;
  color: #bb9d58;
}
#home.--alteo .c-hero.-style.--01 .-block.--01 h2, #index.--alteo .c-hero.-style.--01 .-block.--01 h2 {
  color: #282828;
}
#home.--alteo .c-hero.-style.--01 .-block.--01 p, #index.--alteo .c-hero.-style.--01 .-block.--01 p {
  font-family: "Rokkitt", Courier, monospace;
  font-size: 2em;
  color: #282828;
}
#home.--alteo .c-hero.-style.--01 .-window, #index.--alteo .c-hero.-style.--01 .-window {
  height: 50%;
  border: none;
}
#home.--alteo .c-hero.-style.--01 .-block.--02, #index.--alteo .c-hero.-style.--01 .-block.--02 {
  gap: 20px;
}
#home.--alteo .c-hero.-style.--01 .-block.--02 h2, #index.--alteo .c-hero.-style.--01 .-block.--02 h2 {
  color: #bb9d58;
}
#home.--alteo .c-hero.-style.--01 .-block.--02 .c-segment-toggle.-style.--01 .ct-content.-bar, #index.--alteo .c-hero.-style.--01 .-block.--02 .c-segment-toggle.-style.--01 .ct-content.-bar {
  max-width: 920px;
  background: none;
  border-radius: 5px;
}
#home.--alteo .c-article.-style.--01, #index.--alteo .c-article.-style.--01 {
  font-family: "Montserrat", sans-serif;
}
#home.--alteo .c-article.-style.--01 .-block.--01.-headings, #index.--alteo .c-article.-style.--01 .-block.--01.-headings {
  max-width: 800px;
  gap: 10px;
}
#home.--alteo .c-article.-style.--01 .-block.--01.-headings h4, #index.--alteo .c-article.-style.--01 .-block.--01.-headings h4 {
  font-size: 1.4em;
  color: #d3d1d3;
}
#home.--alteo .c-article.-style.--01 .-block.--01.-headings h1, #index.--alteo .c-article.-style.--01 .-block.--01.-headings h1 {
  font-size: 3em;
  color: #282828;
}
#home.--alteo .c-article.-style.--01 .-block.--01.-headings h2, #index.--alteo .c-article.-style.--01 .-block.--01.-headings h2 {
  color: #bb9d58;
}
#home.--alteo .c-article.-style.--01 .-block.--01.-form, #index.--alteo .c-article.-style.--01 .-block.--01.-form {
  max-width: 800px;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}
#home.--alteo .c-article.-style.--01 .-block.--01.-form div, #index.--alteo .c-article.-style.--01 .-block.--01.-form div {
  flex-basis: 100%;
  min-width: 365px;
  min-height: 50px;
  border-radius: 10px;
  border: 1px solid #d3d1d3;
  line-height: 50px;
  color: #d3d1d3;
}
#home.--alteo .c-article.-style.--01 .-block.--01.-form div.xxx-button, #index.--alteo .c-article.-style.--01 .-block.--01.-form div.xxx-button {
  background-color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4em;
}
#home.--alteo .c-article.-style.--01 .-block.--02, #home.--alteo .c-article.-style.--01 .-block.--04, #index.--alteo .c-article.-style.--01 .-block.--02, #index.--alteo .c-article.-style.--01 .-block.--04 {
  width: 100%;
  max-width: 800px;
  gap: 10px;
}
#home.--alteo .c-article.-style.--01 .-block.--02 p, #home.--alteo .c-article.-style.--01 .-block.--04 p, #index.--alteo .c-article.-style.--01 .-block.--02 p, #index.--alteo .c-article.-style.--01 .-block.--04 p {
  font-family: "Rokkitt", Courier, monospace;
  font-size: 1.5em;
  color: #282828;
}
#home.--alteo .c-article.-style.--01 .-block.--02 h2, #home.--alteo .c-article.-style.--01 .-block.--04 h2, #index.--alteo .c-article.-style.--01 .-block.--02 h2, #index.--alteo .c-article.-style.--01 .-block.--04 h2 {
  text-transform: uppercase;
  color: #bb9d58;
  text-align: center;
}
#home.--alteo .c-article.-style.--01 .-block.--02.-services, #index.--alteo .c-article.-style.--01 .-block.--02.-services {
  align-items: flex-start;
}
#home.--alteo .c-article.-style.--01 .-block.--02.-services h4, #index.--alteo .c-article.-style.--01 .-block.--02.-services h4 {
  color: #bb9d58;
  text-align: left;
}
#home.--alteo .c-article.-style.--01 .-block.--04.-cta h2, #index.--alteo .c-article.-style.--01 .-block.--04.-cta h2 {
  text-transform: uppercase;
  color: #282828;
}
#home.--alteo .c-article.-style.--01 .-block.--04.-cta p, #index.--alteo .c-article.-style.--01 .-block.--04.-cta p {
  text-transform: uppercase;
  color: #282828;
  text-align: center;
}
#home.--alteo .c-article.-style.--01 .-block.--04.-cta a.button.-style.--01, #index.--alteo .c-article.-style.--01 .-block.--04.-cta a.button.-style.--01 {
  margin-top: 0.5em;
  width: 100%;
}/*# sourceMappingURL=style-rsp.css.map */