*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 10px;
}

ul,
li,
a,
button {
  text-decoration: none;
  list-style-type: none;
}

input,
button,
textarea,
select,
fieldset {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: whitesmoke;
}

.ct-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  overflow: hidden;
  margin: auto;
  background-color: white;
}

a {
  color: #282828;
}
a:visited {
  color: #282828;
}
a:hover {
  color: #bb9d58;
}
a:active {
  color: #282828;
}

/* Header */
header {
  width: 100%;
  min-height: 100px;
  min-width: 320px;
  max-width: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 100;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
}
header .logo {
  width: 60px;
  height: 60px;
}
header .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .access-button,
header .menu-button {
  width: 25px;
  height: 25px;
}
header .access-button img,
header .menu-button img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .menu input {
  display: none;
}
header .menu label {
  display: inline-block;
  width: 18px;
  height: 18px;
  text-align: center;
}
header .menu .-burgerOpen {
  line-height: 8px;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  vertical-align: bottom;
  color: #bb9d58;
}
header .menu .-burgerClose {
  display: none;
  line-height: 8px;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #bb9d58;
}
header .menu .-items {
  display: none;
  box-sizing: border-box;
  position: absolute;
  min-width: 322px;
  width: 100%;
  min-height: 226px;
  top: 100px;
  left: 0px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center;
  border-bottom: solid 2px #bb9d58;
}
header .menu .-items li {
  margin-top: 24px;
  font-size: 1.6rem;
  text-transform: uppercase;
}
header .menu .-items li:first-child {
  margin-top: 0px;
}
header .menu .-items li a.current {
  color: #bb9d58;
}
header .menu #menuCheckbox:checked ~ .-items {
  display: block;
}
header .menu #menuCheckbox:checked ~ label .-burgerOpen {
  display: none;
}
header .menu #menuCheckbox:checked ~ label .-burgerClose {
  display: inline-block;
  vertical-align: bottom;
}

/* Footer */
footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 232px;
  height: 100%;
  background-color: #d3d1d3;
  margin-top: 0px;
}
footer .sitemap {
  width: 100%;
  min-width: 320px;
  max-width: 920px;
  padding-left: 15px;
  padding-right: 15px;
}
footer .sitemap ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 45px;
  font-size: 12px;
  flex-wrap: wrap;
  gap: 0.8rem;
}
footer .social.ct-icons {
  min-width: 320px;
  max-width: 680px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 32px;
  overflow: hidden;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}
footer .social.ct-icons .icons {
  width: 20px;
  height: 20px;
  opacity: 0.75;
}
footer .social.ct-icons .icons.fb {
  background-image: url("../assets/social-facebook-square-brands.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .social.ct-icons .icons.ig {
  background-image: url("../assets/social-instagram-brands.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .social.ct-icons .icons.yt {
  background-image: url("../assets/social-youtube-brands.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .social.ct-icons .icons.wa {
  background-image: url("../assets/social-whatsapp-brands.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .social.ct-icons .icons a {
  width: 100%;
  height: 100%;
  display: block;
}
footer .logo {
  width: 60px;
  height: 60px;
  margin-top: 28px;
}
footer .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

footer .sitemap ul a.current {
  color: #bb9d58;
}

/* HOME */
/* Main */
#home main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
#home main h1 {
  text-transform: uppercase;
  font-size: 30px;
}
#home main section.hero {
  min-height: 610px;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.75) 100%), url("../assets/backdrop-image-006.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#home main section.hero .ct-content {
  display: flex;
  position: relative;
  top: 110px;
  flex-direction: column;
  align-items: center;
  padding: 0px 15px;
}
#home main section.hero .ct-content h1 {
  position: absolute;
  text-align: center;
  top: 15px;
  color: #bb9d58;
  text-shadow: 0px 0px 10px #ffffff;
}
#home main section.hero .ct-content h2 {
  position: absolute;
  text-align: center;
  top: 370px;
  color: #bb9d58;
  text-shadow: 0px 0px 10px #ffffff;
}
#home main section.hero .ct-content button {
  position: absolute;
  min-width: 180px;
  max-width: 680px;
  width: 50%;
  height: 50px;
  top: 420px;
  border-radius: 10px;
  background-color: whitesmoke;
  color: #d3d1d3;
  border-color: #d3d1d3;
  border: 2px solid;
  text-transform: uppercase;
}
#home main section.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 15px;
  margin-bottom: 24px;
}
#home main section.contact h1 {
  text-align: center;
  margin-top: 40px;
  color: #282828;
}
#home main section.contact h2 {
  text-align: center;
  margin-top: 12px;
  color: #282828;
}
#home main section.contact .ct-form {
  position: relative;
  display: block;
  width: 100%;
  max-width: 920px;
  min-height: 420px;
  margin-top: 11px;
  overflow: hidden;
  text-align: center;
}
#home main section.contact .ct-form label {
  display: none;
}
#home main section.contact .ct-form input {
  width: 100%;
  min-height: 50px;
  margin-top: 15px;
  border-radius: 10px;
  color: #d3d1d3;
  border-color: #d3d1d3;
  border: 2px solid;
  overflow: hidden;
  padding-left: 15px;
}
#home main section.contact .ct-form input::-moz-placeholder {
  color: #d3d1d3;
}
#home main section.contact .ct-form input:-ms-input-placeholder {
  color: #d3d1d3;
}
#home main section.contact .ct-form input::placeholder {
  color: #d3d1d3;
}
#home main section.contact .ct-form button {
  width: 100%;
  min-height: 50px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: whitesmoke;
  color: #d3d1d3;
  border-color: #d3d1d3;
  border: 2px solid;
  text-transform: uppercase;
}

/* Footer */
/* Main */
#experiences main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
#experiences main h1 {
  text-transform: uppercase;
  font-size: 30px;
}
#experiences main section.hero {
  min-height: 610px;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.75) 100%), url("../assets/backdrop-image-007.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#experiences main section.hero .ct-content {
  display: flex;
  position: relative;
  top: 110px;
  flex-direction: column;
  align-items: center;
  padding: 0px 15px;
}
#experiences main section.hero .ct-content h1 {
  position: absolute;
  text-align: center;
  top: 15px;
  color: #bb9d58;
  text-shadow: 0px 0px 10px #ffffff;
  max-width: 920px;
}
#experiences main section.hero .ct-content h2 {
  position: absolute;
  text-align: center;
  top: 350px;
  color: #bb9d58;
  text-shadow: 0px 0px 10px #ffffff;
  padding: 0 15px;
}
#experiences main section.hero .ct-content button {
  position: absolute;
  min-width: 180px;
  max-width: 680px;
  width: 50%;
  height: 50px;
  top: 420px;
  border-radius: 10px;
  background-color: whitesmoke;
  color: #d3d1d3;
  border-color: #d3d1d3;
  border: 2px solid;
  text-transform: uppercase;
}
#experiences main section.experiences {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 15px;
  margin-bottom: 24px;
  max-width: 920px;
  min-width: 320px;
  width: 100%;
  margin: auto;
}
#experiences main section.experiences h1 {
  text-align: center;
  margin-top: 12px;
  color: #282828;
  font-size: 24px;
}
#experiences main section.experiences h2 {
  text-align: center;
  margin-top: 12px;
  color: #282828;
}
#experiences main section.experiences h4 {
  font-size: 14px;
  margin-top: 30px;
  color: #d3d1d3;
  text-transform: uppercase;
}
#experiences main section.experiences p {
  padding: 0 5px;
  font-size: 14px;
  text-align: justify;
  margin-top: 12px;
  color: #282828;
}
#experiences main section.experiences .image-box {
  position: relative;
  min-width: 290px;
  width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 160px;
  overflow: hidden;
  margin-top: 22px;
  border-radius: 15px;
  background: linear-gradient(0deg, rgba(177, 177, 177, 0.5) 0%, rgba(236, 236, 236, 0) 100%);
}
#experiences main section.experiences .image-box h5 {
  position: absolute;
  bottom: 35px;
  right: 15px;
  font-size: 12px;
  color: white;
}
#experiences main section.experiences .image-box h6 {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.75);
}
#experiences main section.experiences .image-box.one {
  background-image: url("../assets/experiences-image-004.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#experiences main section.experiences .image-box.two {
  background-image: url("../assets/experiences-image-005.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#experiences main section.experiences .hg {
  color: #bb9d58;
  text-transform: uppercase;
}
#experiences main section.experiences .cs {
  margin-top: 20px;
  margin-bottom: 6px;
  text-transform: uppercase;
}
#experiences main section.experiences .ct-icons {
  min-width: 320px;
  max-width: 920px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25px;
  overflow: hidden;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}
#experiences main section.experiences .ct-icons .service-icons {
  width: 50px;
  height: 50px;
  background-color: #d3d1d3;
  border-radius: 10px;
}
#experiences main section.experiences .ct-icons .service-icons.ski {
  background-image: url("../assets/icons-ski.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#experiences main section.experiences .ct-icons .service-icons.onsen {
  background-image: url("../assets/icons-onsen.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#experiences main section.experiences .ct-icons .service-icons.spa {
  background-image: url("../assets/icons-spa.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#experiences main section.experiences .ct-icons .service-icons.sake {
  background-image: url("../assets/icons-sake.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#experiences main section.experiences .ct-icons .service-icons.ramen {
  background-image: url("../assets/icons-ramen.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#experiences main section.experiences button {
  min-width: 180px;
  max-width: 680px;
  width: 75%;
  height: 50px;
  margin-top: 16px;
  margin-bottom: 35px;
  border-radius: 10px;
  background-color: whitesmoke;
  color: #d3d1d3;
  border-color: #d3d1d3;
  border: 2px solid;
  text-transform: uppercase;
}
#experiences main section.experiences .services {
  margin-top: 10px;
}
#experiences main section.experiences .services p {
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}
#experiences main section.experiences .services h4 {
  margin-bottom: 0px;
  margin-top: 20px;
}
#experiences main section.experiences .services hr {
  margin-top: 18px;
  margin-bottom: 15px;
  border-top: 1px solid #bb9d58;
}

/* Footer */
/* Main */
#about main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
#about main h1 {
  text-transform: uppercase;
  font-size: 30px;
}
#about main section.hero {
  min-height: 620px;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about main section.hero .ct-content {
  display: flex;
  position: relative;
  top: 100px;
  flex-direction: column;
  align-items: center;
  padding: 0px 30px;
}
#about main section.hero .ct-content h1 {
  position: absolute;
  text-align: center;
  top: 37px;
  color: #bb9d58;
  text-shadow: 0px 0px 10px #ffffff;
  max-width: 920px;
  padding: 0 15px 0 15px;
}
#about main section.hero .ct-content h2 {
  position: absolute;
  text-align: center;
  top: 125px;
  color: #bb9d58;
  text-shadow: 0px 0px 10px #ffffff;
  font-size: 16px;
  max-width: 920px;
  padding: 0 15px 0 15px;
}
#about main section.hero .ct-content h4 {
  position: absolute;
  font-size: 14px;
  top: 5px;
  color: #d3d1d3;
  text-transform: uppercase;
  max-width: 920px;
  padding: 0 15px 0 15px;
}
#about main section.hero .ct-content p {
  position: absolute;
  padding: 0 5px;
  font-size: 14px;
  text-align: center;
  top: 215px;
  color: #282828;
  max-width: 920px;
  padding: 0 15px 0 15px;
}
#about main section.hero .ct-content p:nth-child(5n) {
  top: 355px;
}
#about main section.hero .ct-content .ct-icons {
  position: absolute;
  top: 427px;
  width: 90%;
  max-width: 920px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 18px;
  padding: 0 5px 0 5px;
}
#about main section.hero .ct-content .ct-icons .about-icons {
  width: 50px;
  height: 50px;
  background-color: #d3d1d3;
  border-radius: 10px;
}
#about main section.hero .ct-content .ct-icons .about-icons.ski {
  background-image: url("../assets/icons-ski.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
}
#about main section.hero .ct-content .ct-icons .about-icons.bell {
  background-image: url("../assets/icons-conciergebell.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
}
#about main section.hero .ct-content .ct-icons .about-icons.world {
  background-image: url("../assets/icons-world.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
}
#about main section.hero .ct-content .ct-icons .about-icons.clock {
  background-image: url("../assets/icons-stopclock.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
}
#about main section.hero .ct-content .ct-icons .about-icons.car {
  background-image: url("../assets/icons-car.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
}
#about main section.our-story {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px;
  margin-bottom: 24px;
}
#about main section.our-story .quote {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  min-height: 202px;
  min-width: 320px;
  width: 100%;
  background-image: url("../assets/experiences-image-001.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 15px;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid #bb9d58;
}
#about main section.our-story .quote h1 {
  margin: 0px;
  text-align: center;
  color: #d3d1d3;
  font-size: 24px;
}
#about main section.our-story .quote h2 {
  margin: 0px;
  text-align: center;
  color: #d3d1d3;
}
#about main section.our-story .quote h4 {
  margin: 0px;
  text-align: center;
  font-size: 14px;
  color: #282828;
  text-transform: uppercase;
  align-items: center;
}
#about main section.our-story h1 {
  text-align: center;
  margin-top: 12px;
  color: #282828;
  font-size: 24px;
  max-width: 920px;
}
#about main section.our-story h2 {
  text-align: center;
  margin-top: 12px;
  color: #282828;
  padding: 0 15px;
  max-width: 920px;
}
#about main section.our-story h4 {
  font-size: 14px;
  margin-top: 30px;
  color: #d3d1d3;
  text-transform: uppercase;
  max-width: 920px;
}
#about main section.our-story p {
  padding: 0 20px;
  font-size: 14px;
  text-align: justify;
  margin-top: 22px;
  color: #282828;
  max-width: 960px;
}
#about main section.our-story .ct-center {
  max-width: 950px;
  width: 100%;
  padding: 0 15px;
}
#about main section.our-story .image-box {
  position: relative;
  min-width: 290px;
  min-height: 290px;
  width: 100%;
  overflow: hidden;
  margin-top: 22px;
  border-radius: 15px;
  background: linear-gradient(0deg, rgba(177, 177, 177, 0.5) 0%, rgba(236, 236, 236, 0) 100%);
  background-image: url("../assets/about-image-001.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
#about main section.our-story .image-box h5 {
  position: absolute;
  bottom: 35px;
  left: 15px;
  font-size: 12px;
  color: rgba(187, 157, 88, 0.75);
}
#about main section.our-story .image-box h6 {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 12px;
  color: rgba(187, 157, 88, 0.5);
}
#about main section.our-story .image-box img {
  width: 340px;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right top;
     object-position: right top;
}
#about main section.our-story .testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 202px;
  background-image: url("../assets/experiences-image-002.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 22px;
  padding: 50px;
  border-bottom: 2px solid #bb9d58;
}
#about main section.our-story .testimonial h1 {
  text-align: center;
  color: #d3d1d3;
  font-size: 22px;
}
#about main section.our-story .testimonial h4 {
  text-align: center;
  font-size: 14px;
  color: #bb9d58;
  text-transform: uppercase;
}
#about main section.our-story .hg {
  color: #bb9d58;
}
#about main section.our-story .cs {
  margin-top: 20px;
  margin-bottom: 6px;
  text-transform: uppercase;
}
#about main section.our-story button {
  min-width: 180px;
  max-width: 680px;
  width: 75%;
  height: 50px;
  margin-top: 18px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: whitesmoke;
  color: #d3d1d3;
  border-color: #d3d1d3;
  border: 2px solid;
  text-transform: uppercase;
}
#about main section.vision {
  padding: 0 15px;
  max-width: 940px;
}
#about main section.vision p {
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}
#about main section.vision h4 {
  margin-bottom: 0px;
  margin-top: 20px;
}
#about main section.vision hr {
  margin-top: 18px;
  margin-bottom: 15px;
  border-top: 1px solid #bb9d58;
}

/* Main */
#contact main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  top: 50px;
}
#contact main h1 {
  text-transform: uppercase;
  font-size: 30px;
}
#contact main section.contact {
  position: relative;
  top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 15px;
  margin-bottom: 24px;
  min-height: 740px;
  height: 100%;
}
#contact main section.contact h1 {
  text-align: center;
  margin-top: 18px;
  color: #282828;
}
#contact main section.contact h2 {
  text-align: center;
  margin-top: 12px;
  color: #282828;
}
#contact main section.contact h4 {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #d3d1d3;
  text-transform: uppercase;
}
#contact main section.contact .ct-form {
  position: relative;
  display: block;
  width: 100%;
  max-width: 920px;
  min-height: 200px;
  margin-top: 11px;
  overflow: hidden;
  text-align: center;
}
#contact main section.contact .ct-form label {
  display: none;
}
#contact main section.contact .ct-form input {
  width: 100%;
  min-height: 50px;
  margin-top: 15px;
  border-radius: 10px;
  color: #d3d1d3;
  border-color: #d3d1d3;
  border: 2px solid;
  overflow: hidden;
  padding-left: 15px;
}
#contact main section.contact .ct-form input::-moz-placeholder {
  color: #d3d1d3;
}
#contact main section.contact .ct-form input:-ms-input-placeholder {
  color: #d3d1d3;
}
#contact main section.contact .ct-form input::placeholder {
  color: #d3d1d3;
}
#contact main section.contact .ct-form button {
  width: 100%;
  min-height: 50px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: whitesmoke;
  color: #d3d1d3;
  border-color: #d3d1d3;
  border: 2px solid;
  text-transform: uppercase;
}
#contact main section.contact .ct-form .cs {
  margin-top: 28px;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: #bb9d58;
}

/* Main */
#destination main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
#destination main h1 {
  text-transform: uppercase;
  font-size: 30px;
}
#destination main hr {
  margin-top: 18px;
  margin-bottom: 15px;
  border-top: 1px solid #bb9d58;
}
#destination main section.hero {
  min-height: 620px;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#destination main section.hero .ct-content {
  display: flex;
  position: relative;
  top: 100px;
  flex-direction: column;
  align-items: center;
  padding: 0px 30px;
}
#destination main section.hero .ct-content h1 {
  position: absolute;
  text-align: center;
  top: 37px;
  color: #bb9d58;
  text-shadow: 0px 0px 10px #ffffff;
  max-width: 920px;
  padding: 0 15px 0 15px;
}
#destination main section.hero .ct-content h2 {
  position: absolute;
  text-align: center;
  top: 125px;
  color: #bb9d58;
  text-shadow: 0px 0px 10px #ffffff;
  font-size: 16px;
  max-width: 920px;
  padding: 0 15px 0 15px;
}
#destination main section.hero .ct-content h4 {
  position: absolute;
  font-size: 14px;
  top: 5px;
  color: #d3d1d3;
  text-transform: uppercase;
  max-width: 920px;
  padding: 0 15px 0 15px;
}
#destination main section.hero .ct-content p {
  position: absolute;
  padding: 0 5px;
  font-size: 14px;
  text-align: center;
  top: 215px;
  color: #282828;
  max-width: 920px;
  padding: 0 15px 0 15px;
}
#destination main section.hero .ct-content p:nth-child(5n) {
  top: 355px;
}
#destination main section.hero .ct-content .destination-nav {
  position: absolute;
  top: 355px;
  width: 100%;
  min-width: 320px;
  max-width: 920px;
  padding-left: 15px;
  padding-right: 15px;
}
#destination main section.hero .ct-content .destination-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 45px;
  font-size: 12px;
  flex-wrap: wrap;
  gap: 0.8rem;
  text-transform: uppercase;
}
@media screen and (max-width: 620px) {
  #destination main section.hero .ct-content .destination-nav .destination-nav {
    top: 0px;
    margin-top: 0px;
  }
  #destination main section.hero .ct-content .destination-nav ul {
    margin-top: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #destination main section.hero .ct-content .destination-nav ul li {
    min-height: 25px;
  }
}
#destination main section.next-trip {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px;
  margin-bottom: 24px;
}
#destination main section.next-trip .cta-stripe {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  min-height: 202px;
  min-width: 320px;
  width: 100%;
  background-image: url("../assets/destination-stripe-005.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 15px;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid #bb9d58;
}
#destination main section.next-trip .cta-stripe h1 {
  margin: 0px;
  text-align: center;
  color: #d3d1d3;
  font-size: 24px;
}
#destination main section.next-trip .cta-stripe h2 {
  margin: 0px;
  text-align: center;
  color: #d3d1d3;
}
#destination main section.next-trip .cta-stripe h4 {
  margin: 0px;
  text-align: center;
  font-size: 14px;
  color: #282828;
  text-transform: uppercase;
  align-items: center;
}
#destination main section.next-trip .destination-info h1 {
  text-align: center;
  margin-top: 12px;
  color: #282828;
  font-size: 24px;
  max-width: 920px;
  width: 100%;
  min-width: 290px;
  overflow: hidden;
}
#destination main section.next-trip .destination-info h2 {
  text-align: center;
  margin-top: 12px;
  color: #282828;
  padding: 0 15px;
  max-width: 920px;
}
#destination main section.next-trip .destination-info h4 {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
  color: #d3d1d3;
  text-transform: uppercase;
  max-width: 920px;
}
#destination main section.next-trip .destination-info p {
  padding: 0 20px;
  font-size: 14px;
  text-align: justify;
  margin-top: 22px;
  color: #282828;
  max-width: 960px;
}
#destination main section.next-trip .destination-info .ct-icons {
  min-width: 320px;
  max-width: 920px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25px;
  overflow: hidden;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}
#destination main section.next-trip .destination-info .ct-icons .service-icons {
  width: 50px;
  height: 50px;
  background-color: #d3d1d3;
  border-radius: 10px;
}
#destination main section.next-trip .destination-info .ct-icons .service-icons.ski {
  background-image: url("../assets/icons-ski.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#destination main section.next-trip .destination-info .ct-icons .service-icons.volcano {
  background-image: url("../assets/icons-volcano.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#destination main section.next-trip .destination-info .ct-icons .service-icons.spa {
  background-image: url("../assets/icons-spa.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#destination main section.next-trip .destination-info .ct-icons .service-icons.sake {
  background-image: url("../assets/icons-sake.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#destination main section.next-trip .destination-info .ct-icons .service-icons.sushi {
  background-image: url("../assets/icons-sushi.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#destination main section.next-trip .testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 202px;
  background-image: url("../assets/destination-stripe-003.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 22px;
  padding: 50px;
  border-bottom: 2px solid #bb9d58;
}
#destination main section.next-trip .testimonial h1 {
  text-align: center;
  color: #d3d1d3;
  font-size: 22px;
}
#destination main section.next-trip .testimonial h4 {
  text-align: center;
  font-size: 14px;
  color: #bb9d58;
  text-transform: uppercase;
}
#destination main section.next-trip .hg {
  color: #bb9d58;
}
#destination main section.next-trip .cs {
  min-width: 300px;
  margin-top: 20px;
  margin-bottom: 6px;
  text-transform: uppercase;
  text-align: center;
}
#destination main section.next-trip button {
  min-width: 180px;
  max-width: 680px;
  width: 75%;
  height: 50px;
  margin-top: 18px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: whitesmoke;
  color: #d3d1d3;
  border-color: #d3d1d3;
  border: 2px solid;
  text-transform: uppercase;
}
#destination main section.next-trip section.services {
  padding: 0 15px;
  max-width: 960px;
}
#destination main section.next-trip section.services h1 {
  text-align: center;
  margin-top: 20px;
  color: #282828;
  font-size: 24px;
  max-width: 920px;
  width: 100%;
  min-width: 290px;
  overflow: hidden;
}
#destination main section.next-trip section.services .ct-icons {
  min-width: 320px;
  max-width: 920px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25px;
  overflow: hidden;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}
#destination main section.next-trip section.services .ct-icons .service-icons {
  width: 50px;
  height: 50px;
  background-color: #d3d1d3;
  border-radius: 10px;
}
#destination main section.next-trip section.services .ct-icons .service-icons.ski {
  background-image: url("../assets/icons-ski.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#destination main section.next-trip section.services .ct-icons .service-icons.volcano {
  background-image: url("../assets/icons-volcano.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#destination main section.next-trip section.services .ct-icons .service-icons.spa {
  background-image: url("../assets/icons-spa.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#destination main section.next-trip section.services .ct-icons .service-icons.sake {
  background-image: url("../assets/icons-sake.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#destination main section.next-trip section.services .ct-icons .service-icons.sushi {
  background-image: url("../assets/icons-sushi.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#destination main section.next-trip section.services p {
  font-size: 14px;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}
#destination main section.next-trip section.services h4 {
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 20px;
  color: #d3d1d3;
  text-transform: uppercase;
}
#destination main section.next-trip .destination-images {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  min-width: 290px;
  max-width: 960px;
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
}
#destination main section.next-trip .destination-images p {
  padding: 0;
}
#destination main section.next-trip .image-box {
  position: relative;
  min-width: 290px;
  min-height: 290px;
  width: 100%;
  overflow: hidden;
  margin-top: 22px;
  border-radius: 15px;
  background: linear-gradient(0deg, rgba(177, 177, 177, 0.5) 0%, rgba(236, 236, 236, 0) 100%);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
#destination main section.next-trip .image-box.one {
  background-image: url("../assets/destinations-image-001.jpg");
  background-position: top;
}
#destination main section.next-trip .image-box.one h5 {
  position: absolute;
  bottom: 35px;
  right: 15px;
  font-size: 12px;
  color: rgba(187, 157, 88, 0.75);
}
#destination main section.next-trip .image-box.one h6 {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 12px;
  color: rgba(187, 157, 88, 0.5);
}
#destination main section.next-trip .image-box.one img {
  width: 340px;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right top;
     object-position: right top;
}
#destination main section.next-trip .image-box.six {
  background-image: url("../assets/destinations-image-006.jpg");
  background-position: center;
  margin-top: 15px;
}
#destination main section.next-trip .image-box.six h5 {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  color: rgba(187, 157, 88, 0.75);
}
#destination main section.next-trip .image-box.six h6 {
  position: absolute;
  top: 35px;
  left: 15px;
  font-size: 12px;
  color: rgba(187, 157, 88, 0.5);
}
#destination main section.next-trip .image-grid {
  display: grid;
  min-width: 290px;
  min-height: 290px;
  width: 100%;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, minmax(2, 1fr));
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-top: 15px;
}
#destination main section.next-trip .image-grid .two {
  grid-area: 1/1/4/2;
  background-image: url("../assets/destinations-image-002.jpg");
  background-position: left;
  margin-top: 0px;
}
#destination main section.next-trip .image-grid .three {
  grid-area: 4/1/6/2;
  background-image: url("../assets/destinations-image-003.jpg");
  margin-top: 0px;
}
#destination main section.next-trip .image-grid .four {
  grid-area: 3/2/6/3;
  background-image: url("../assets/destinations-image-004.jpg");
  background-position: bottom;
  margin-top: 0px;
}
#destination main section.next-trip .image-grid .five {
  grid-area: 1/2/3/3;
  background-image: url("../assets/destinations-image-005.jpg");
  margin-top: 0px;
}
@media screen and (max-width: 620px) {
  #destination main section.next-trip .image-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.season-hg p, .season-hg h4 {
  text-align: center !important;
  margin: auto;
  margin-top: 15px !important;
}

.ct-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ct-calendar h2 {
  text-transform: uppercase;
}
.ct-calendar .calendar-box {
  position: relative;
  min-width: 290px;
  width: 100%;
  margin-top: 30px;
}
.ct-calendar .calendar {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, minmax(25px, 1fr));
  grid-template-rows: 50px;
  grid-auto-rows: 120px;
  overflow: auto;
}
.ct-calendar .calendar-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #fff;
  max-width: 1200px;
}
.ct-calendar .calendar-header {
  text-align: center;
  padding: 15px 0;
  background: linear-gradient(to bottom, #fafbfd 0%, rgba(255, 255, 255, 0) 100%);
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
}
.ct-calendar .calendar-header h1 {
  margin: auto;
  margin-top: 0px !important;
  font-size: 18px;
}
.ct-calendar .calendar-header p {
  margin: 5px 0 0 0;
  font-size: 13px;
  font-weight: 600;
  color: rgba(81, 86, 93, 0.4);
}
.ct-calendar .calendar-header button {
  background: 0;
  border: 0;
  padding: 0;
  color: rgba(81, 86, 93, 0.7);
  cursor: pointer;
  outline: 0;
}
.ct-calendar .day {
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  border-right: 1px solid rgba(166, 168, 179, 0.12);
  text-align: right;
  padding: 14px 20px;
  letter-spacing: 1px;
  font-size: 12px;
  box-sizing: border-box;
  color: #98a0a6;
  position: relative;
  pointer-events: none;
  z-index: 1;
}
.ct-calendar .day:nth-of-type(7n + 7) {
  border-right: 0;
}
.ct-calendar .day:nth-of-type(n + 1):nth-of-type(-n + 7) {
  grid-row: 2;
}
.ct-calendar .day:nth-of-type(n + 8):nth-of-type(-n + 14) {
  grid-row: 3;
}
.ct-calendar .day:nth-of-type(n + 15):nth-of-type(-n + 21) {
  grid-row: 4;
}
.ct-calendar .day:nth-of-type(n + 22):nth-of-type(-n + 28) {
  grid-row: 5;
}
.ct-calendar .day:nth-of-type(n + 29):nth-of-type(-n + 35) {
  grid-row: 6;
}
.ct-calendar .day:nth-of-type(7n + 1) {
  grid-column: 1/1;
}
.ct-calendar .day:nth-of-type(7n + 2) {
  grid-column: 2/2;
}
.ct-calendar .day:nth-of-type(7n + 3) {
  grid-column: 3/3;
}
.ct-calendar .day:nth-of-type(7n + 4) {
  grid-column: 4/4;
}
.ct-calendar .day:nth-of-type(7n + 5) {
  grid-column: 5/5;
}
.ct-calendar .day:nth-of-type(7n + 6) {
  grid-column: 6/6;
}
.ct-calendar .day:nth-of-type(7n + 7) {
  grid-column: 7/7;
}
.ct-calendar .day-name {
  font-size: 12px;
  text-transform: uppercase;
  color: #99a1a7;
  text-align: center;
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  line-height: 50px;
  font-weight: 500;
}
.ct-calendar .day--disabled {
  color: rgba(152, 160, 166, 0.6);
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  cursor: not-allowed;
}
.ct-calendar .task {
  border-left-width: 3px;
  padding: 8px 12px;
  margin: 10px;
  border-left-style: solid;
  font-size: 14px;
  position: relative;
}
.ct-calendar .task--warning {
  border-left-color: #fdb44d;
  grid-column: 5/span 3;
  grid-row: 3;
  background: #fef0db;
  align-self: center;
  color: #fc9b10;
  margin-top: -5px;
}
.ct-calendar .task--danger {
  border-left-color: #fa607e;
  grid-column: 2/span 3;
  grid-row: 3;
  margin-top: 15px;
  background: rgba(253, 197, 208, 0.7);
  align-self: end;
  color: #f8254e;
}
.ct-calendar .task--info {
  border-left-color: #4786ff;
  grid-column: 6/span 2;
  grid-row: 5;
  margin-top: 15px;
  background: rgba(218, 231, 255, 0.7);
  align-self: end;
  color: #0a5eff;
}
.ct-calendar .task--primary {
  background: #4786ff;
  border: 0;
  border-radius: 4px;
  grid-column: 3/span 3;
  grid-row: 4;
  align-self: end;
  color: #fff;
  box-shadow: 0 10px 14px rgba(71, 134, 255, 0.4);
}
.ct-calendar .task__detail {
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  background: #fff;
  border: 1px solid rgba(166, 168, 179, 0.2);
  color: #000;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  z-index: 2;
}
.ct-calendar .task__detail:after, .ct-calendar .task__detail:before {
  bottom: 100%;
  left: 30%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ct-calendar .task__detail:before {
  border-bottom-color: rgba(166, 168, 179, 0.2);
  border-width: 8px;
  margin-left: -8px;
}
.ct-calendar .task__detail:after {
  border-bottom-color: #fff;
  border-width: 6px;
  margin-left: -6px;
}
.ct-calendar .task__detail h2 {
  font-size: 15px;
  margin: 0;
  color: #51565d;
}
.ct-calendar .task__detail p {
  margin-top: 4px;
  font-size: 12px;
  margin-bottom: 0;
  font-weight: 500;
  color: rgba(81, 86, 93, 0.7);
}

h1.cs {
  margin-top: 35px !important;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 24px !important;
  max-width: 920px;
  padding: 0 15px;
}

h2.cs {
  margin-top: 15px;
  margin-bottom: 6px;
  text-transform: uppercase;
  color: #bb9d58;
  font-size: 15px;
  max-width: 920px;
  padding: 0 15px;
}

/* Main */
#members-access main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  top: 50px;
}
#members-access main h1 {
  text-transform: uppercase;
  font-size: 30px;
}
#members-access main section.contact {
  position: relative;
  top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 15px;
  margin-bottom: 24px;
  min-height: 713px;
  height: 100%;
}
#members-access main section.contact h1 {
  text-align: center;
  margin-top: 18px;
  color: #282828;
}
#members-access main section.contact h2 {
  text-align: center;
  margin-top: 12px;
  color: #282828;
}
#members-access main section.contact h4 {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #d3d1d3;
  text-transform: uppercase;
}
#members-access main .ct-form {
  position: relative;
  display: block;
  width: 100%;
  max-width: 920px;
  min-height: 200px;
  margin-top: 11px;
  overflow: hidden;
  text-align: center;
}
#members-access main .ct-form label {
  display: none;
}
#members-access main .ct-form input {
  width: 100%;
  min-height: 50px;
  margin-top: 15px;
  border-radius: 10px;
  color: #d3d1d3;
  border-color: #d3d1d3;
  border: 2px solid;
  overflow: hidden;
  padding-left: 15px;
}
#members-access main .ct-form input::-moz-placeholder {
  color: #d3d1d3;
}
#members-access main .ct-form input:-ms-input-placeholder {
  color: #d3d1d3;
}
#members-access main .ct-form input::placeholder {
  color: #d3d1d3;
}
#members-access main .ct-form button {
  width: 100%;
  min-height: 50px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: whitesmoke;
  color: #d3d1d3;
  border-color: #d3d1d3;
  border: 2px solid;
  text-transform: uppercase;
}
#members-access main .ct-form .cs {
  margin-top: 28px;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: #bb9d58;
}
#members-access main .testblock-nav {
  width: 100%;
  min-width: 320px;
  max-width: 920px;
  padding-left: 15px;
  padding-right: 15px;
}
#members-access main .testblock-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 45px;
  font-size: 12px;
  flex-wrap: wrap;
  gap: 0.8rem;
}/*# sourceMappingURL=style.css.map */